@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using ISM.WebApp.Constant;
@{
    var sessionUser = JsonConvert.DeserializeObject<Account>(Context.Session.GetString(LoginConst.SessionKeyName));
}
<!doctype html>
<html lang="en">

<head>
    <title>FPT INTERNATIONAL MANAGE STUDENT</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="~/css/header.css" asp-append-version="true">
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="stylesheet" href="~/css/footer.css">

    <script>
        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show_mobility");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>

</head>

<body>
    <div class="container-fluid logo-user">
        <div class="row" style="height:100px;">
            <div class="col-xl-10 col-lg-8 col-md-8 col-sm-6 col-6">
                <img src="~/image/fpt.png" />
            </div>
            <!-- <div class="col-xl-1 col-md-1 col-lg-1 "></div> -->
            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-3">
                <button type="button" class="icon-button" onclick="showPopup('xmas-popup-notification');">
                    <span class="material-icons">notifications</span>
                    <a><span class="icon-button__badge">@sessionUser.totalNotification</span> </a>
                </button>
            </div>
            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-3" style="margin-top: 20px">
                <div class="dropdown">
                    <a onclick="myFunction()" style="font-weight: bold;">@sessionUser.username</a>
                    <div id="myDropdown" class="dropdown-content">
                        <a>
                            <form method="post" asp-controller="Information" asp-action="Index">
                                <button style="width:80px; border-radius:10px" class="btn btn-info">Profile</button>
                            </form>
                        </a>
                        <a>
                            <form method="post" asp-controller="Login" asp-action="Logout">
                                <button style="width:80px; border-radius:10px" class="btn btn-info">Log Out</button>
                            </form>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler aaa" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav" style="margin: 0 auto">

                    <li class="nav-item dropdowns">
                        <a class="nav-link" href="#" id="navbarDropdown">
                            Visa & Passport
                        </a>
                        <div class="dropdown-description">
                            <a class="dropdown-item" href="#">
                                My Pre-Approval Visa Letter
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">
                                My Passport
                            </a>
                            <a class="dropdown-item" href="#">My visa</a>
                        </div>
                    </li>
                    <li class="nav-item dropdowns">
                        <a class="nav-link" href="#" id="navbarDropdown">
                            Insurance
                        </a>

                    </li>
                    <li class="nav-item dropdowns">
                        <a class="nav-link" href="#" id="navbarDropdown">
                            Pre-departure
                        </a>
                        <div class="dropdown-description">
                            <a class="dropdown-item" href="#">What to pack</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Student's Flight</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Handbook</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">
                                Accomodation
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">General Agenda</a>
                        </div>
                    </li>
                    <li class="nav-item dropdowns">
                        <a class="nav-link" href="#" id="navbarDropdown">
                            Program
                        </a>
                        <div class="dropdown-description">
                            <a class="dropdown-item" href="#">Orientation material</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Detailed agenda</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Transportation</a>
                        </div>
                    </li>
                    <li class="nav-item dropdowns">
                        <a class="nav-link" href="#" id="navbarDropdown">
                            Local recommendation
                        </a>
                        <div class="dropdown-description">
                            <a class="dropdown-item" href="#">Da Nang</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Ho Chi Minh</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Ha Noi</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Can Tho</a>
                        </div>
                    </li>

                    <li class="nav-item dropdowns">
                        <a class="nav-link" href="#">FAQs</a>
                    </li>
                    <li class="nav-item dropdowns">
                        <a class="nav-link" href="#">Contact Us</a>
                        <div class="dropdown-description">
                            <a class="dropdown-item" href="">Contact Information</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="">Book a meeting</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <div id="xmas-popup-notification" class="popup">
        <div class="popup-content-notification">
            <h1 align="center">Notifications</h1>
            <form>
                <div class="table-scroll-meeting">
                    @foreach (var item in sessionUser.webNotifications)
                    {
                        <p></p>
                        <div class="border border-warning" style="border-radius:10px">
                            <p style="font-weight:bold; color:red">@item.title</p>
                            <p style="font-weight:bold;">@item.content</p>
                        </div>
                    }
                </div>
                <div class="form-group row">
                    <button onclick="hidePopup('xmas-popup-notification')" id="cacel" style="margin: auto;margin-top: 30px;width: 80px;" type="button" class="btn btn-danger">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
    <footer style="margin-top:100px">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-4 footer-about wow fadeInUp">
                        <h3>Contact</h3>
                        <p><i class="fas fa-map-marker-alt"></i> FPT Education Global – Hanoi Campus</p>
                        <p><i class="fas fa-phone"></i> Phone: (84+) 902423331</p>
                        <p>
                            <i class="fas fa-envelope"></i> Email: <a href="mailto:international.ss@fpt.edu.vn">international.ss@fpt.edu.vn</a>
                        </p>

                    </div>
                    <div class="col-md-4 col-lg-4 offset-lg-1 footer-contact wow fadeInDown">
                        <h3>Contact</h3>
                        <p><i class="fas fa-map-marker-alt"></i> FPT Education Global – Da Nang Campus</p>
                        <p><i class="fas fa-phone"></i> Phone: (84+) 903575247</p>
                        <p>
                            <i class="fas fa-envelope"></i> Email: <a href="mailto:Utnt4@fe.edu.vn">Utnt4@fe.edu.vn</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-3 footer-social wow fadeInUp">
                        <h3>Follow us</h3>
                        <p>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-pinterest"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Passport.js" asp-append-version="true"></script>
    <script src="~/js/Visa.js" asp-append-version="true"></script>
    <script src="~/js/Student.js" asp-append-version="true"></script>
    <script src="~/js/Insurance.js" asp-append-version="true"></script>
    <script src="~/js/VisaLetter.js" asp-append-version="true"></script>
    <script src="~/js/Orientation.js" asp-append-version="true"></script>
    <script src="~/js/Transportation.js" asp-append-version="true"></script>
    <script src="~/js/CurrentAccomodation.js" asp-append-version="true"></script>
    <script src="~/js/Flight.js" asp-append-version="true"></script>
    <script src="~/js/Article.js" asp-append-version="true"></script>
    <script src="~/js/FAQ.js" asp-append-version="true"></script>
    <script src="~/js/LocalRecommendation.js" asp-append-version="true"></script>
    <script src="~/js/StudentHandbook.js" asp-append-version="true"></script>
    <script src="~/js/ORTMaterials.js" asp-append-version="true"></script>
    <script src="~/js/ORTMaterialSlide.js" asp-append-version="true"></script>
    <script src="~/js/JobVacancy.js" asp-append-version="true"></script>
    <script src="~/js/Meeting.js" asp-append-version="true"></script>
    <script src="~/js/Information.js" asp-append-version="true"></script>
    <script src="~/js/ContactInformation.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>