@model ISM.WebApp.ViewModels.MeetingAvailableTimeIndexViewModel;
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using ISM.WebApp.Constant;
@{
    var sessionUser = JsonConvert.DeserializeObject<Account>(Context.Session.GetString(LoginConst.SessionKeyName));
    var current_date = DateTime.Now;
    if (sessionUser.role_name == "Degree")
    {
        ViewData["Title"] = "Contact Information Page";
        Layout = "~/Views/Shared/_DegreeStudentLayout.cshtml";
    }
    else if (sessionUser.role_name == "Mobility")
    {
        ViewData["Title"] = "Contact Information Page";
        Layout = "~/Views/Shared/_MobilityStudentLayout.cshtml";
    }
}

<h1 style="text-align: center;">Available Time: @(Model.staff.fullname + " - " + Model.staff.email)</h1>
<div style="height:50px">
    <div class="dropdown_search">
        <button type="button" onclick="myFunction1()" style="width: 80px; border-radius: 10px;" class="btn btn-primary">Search</button>
        <div id="myDropdown_search" class="dropdown-content_search" style="height: 190px; margin-top: 10px;">
            <form style="width: 320px;" id="searchForm" asp-controller="Meeting" asp-action="StaffAvailableTime" method="get">
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Date:</label>
                    <input name="date" type="date" style="width: 200px; border-radius: 5px;" value="@(Model.date.HasValue?Model.date.Value.ToString("yyyy-MMM-dd"):"")">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Start Time:</label>
                    <input name="start_time" type="time" style="width: 200px; border-radius: 5px;" value="@(Model.start_time.HasValue?Model.start_time.Value.ToString(@"hh\:mm\:ss"):"")">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">End Time:</label>
                    <input name="end_time" type="time" style="width: 200px; border-radius: 5px;" value="@(Model.end_time.HasValue?Model.end_time.Value.ToString(@"hh\:mm\:ss"):"")">
                </div>
                <input type="hidden" name="page" id="inputPage">
                <button id="searchBtn" type="submit" onclick="disableButton('searchBtn'); search(1);" class="btn btn-info" style="margin-left: 150px;">Search</button>
            </form>
        </div>
    </div>
</div>
<br>
<br>
<div class="table-scroll">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.availableTimes)
            {
                <tr>
                    <td>
                        @item.date.ToString("yyyy-MMM-dd")
                    </td>
                    <td>
                        @item.start_time.ToString(@"hh\:mm\:ss")
                    </td>
                    <td>
                        @item.end_time.ToString(@"hh\:mm\:ss")
                    </td>
                    <td style="text-align:center;">
                        @if (item.date.CompareTo(current_date) > 0)
                        {
                            <button onclick="showPopup('xmas-popup'); StudentBookMeeting('@item.staff_id', '@item.staff_name', '@ISM.WebApp.Utils.FormatUtil.ToInputDate(item.date)', '@ISM.WebApp.Utils.FormatUtil.ToInputTime3(item.start_time)', '@ISM.WebApp.Utils.FormatUtil.ToInputTime3(item.end_time)');" style="width: auto; border-radius: 10px;" class="btn btn-info">Book a Meeting</button>
                        }
                    </td>
                </tr>
            }
    </table>
</div>
<div>
    @Html.Raw(ISM.WebApp.Utils.PagingUtils.pager(Model.totalPage, Model.page, 3))
</div>
<button type="button" onclick="showPopup('xmas-popup-assign-book')" style="width: 200px; border-radius: 10px; float: right; margin-left:10px" class="btn btn-success">
    View Meeting Schedule
</button>

<div id="xmas-popup-assign-book" class="popup">
    <div class="popup-content-assign-book">
        <h1 align="center">Meeting Schedule</h1>
        <form>
            <div class="table-scroll-meeting">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Staff Name</th>
                            <th scope="col">Staff Email</th>
                            <th scope="col">Student Name</th>
                            <th scope="col">Date</th>
                            <th scope="col">Start Time</th>
                            <th scope="col">End Time</th>
                            <th scope="col">Note</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.meetingSchedules)
                        {
                            <tr>
                                <td>
                                    @item.staff_name_s
                                </td>
                                <td>
                                    @item.staff_email_s
                                </td>
                                <td>
                                    @item.student_name_s
                                </td>
                                <td>
                                    @item.date_MS_s.ToString("yyyy-MMM-dd")
                                </td>
                                <td>
                                    @item.startTime_MS_s.ToString(@"hh\:mm\:ss")
                                </td>
                                <td>
                                    @item.endTime_MS_s.ToString(@"hh\:mm\:ss")
                                </td>
                                <td>
                                    @item.note_s
                                </td>
                                <td style="text-align:center; color: red;">
                                    @if (item.isAccepted_s == true)
                                    {
                                        @:Accepted
                                    }
                                    else
                                    {
                                        @:Pending
                                    }
                                </td>
                            </tr>
                        }
                </table>
            </div>
            <div class="form-group row">
                <button onclick="hidePopup('xmas-popup-assign-book')" style="margin: auto;margin-top: 30px;width: 80px;" type="button" class="btn btn-danger">
                    Close
                </button>
            </div>
        </form>
    </div>
</div>

<!-- popup code -->
<div id="xmas-popup" class="popup">
    <div class="popup-content" style="height:380px">
        <form>
            <h1 style="text-align: center; margin-top: 20px;">Book a Meeting</h1>
            <input type="hidden" id="book_staff_id" />
            <div class="form-group row">
                <label style="margin-left: 30px; font-weight: bold; width:100px;">Staff Name:</label>
                <input maxlength="100" type="text" id="book_staff_name_id" disabled>
            </div>
            <div class="form-group row">
                <label style="margin-left: 30px; font-weight: bold; width:100px;">Date:</label>
                <input type="date" id="book_date_id" disabled>
            </div>
            <div class="form-group row">
                <label style="margin-left: 30px; font-weight: bold; width:100px;">Start Time:</label>
                <input type="time" id="book_startTime_id" disabled>
            </div>
            <div class="form-group row">
                <label style="margin-left: 30px; font-weight: bold; width:100px;">End Time:</label>
                <input type="time" id="book_endTime_id" disabled>
            </div>
            <div class="form-group row">
                <label style="margin-left: 30px; font-weight: bold; width:100px;">Note:</label>
                <input maxlength="250" type="text" id="book_note_id">
            </div>
            <div class="form-group row">
                <button onclick="disableButton('save'); validateBookAMeeting('@sessionUser.user_id');" style="margin-left: 190px; width: 80px;" type="button" class="btn btn-success" id="save">Book</button>
                <button onclick="hidePopup('xmas-popup')" style="margin-left: 80px;width: 80px;" type="button" class="btn btn-danger" id="cancel">Cancel</button>
            </div>
        </form>
    </div>
</div>
<script>function myFunction1() {
        document.getElementById("myDropdown_search").classList.toggle("show_search_meetingAT");
    }
    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown_search");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }</script>