@model ISM.WebApp.ViewModels.VisaLetterIndexViewModel
@{
    ViewData["Title"] = "Visa Letter Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div style="height: 500px; background-color: white;">
    <h1 style="text-align: center;">Pre-Approval Visa Letter</h1>
    <div style="height:50px">
        <div class="dropdown_search">
            <button onclick="myFunction1()" class="btn btn-info">Search</button>
            <div id="myDropdown_search" class="dropdown-content_search" style="height: 400px; margin-top: 10px;">
                <form style="width: 320px;" asp-controller="VisaLetter" asp-action="Index" method="get">
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;"> Full Name:</label>
                        <input name="fullname" type="text" style="width: 200px; border-radius: 5px;" value="@Model.fullname">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">DOB:</label>
                        <input name="dob" type="date" style="width: 200px; border-radius: 5px;" id="" value="@Model.dob">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Nationality:</label>
                        <input name="nationality" type="text" style="width: 200px; border-radius: 5px;" id="" value="@Model.nationality">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Passport Number:</label>
                        <input name="passport_number" type="text" style="width: 200px; border-radius: 5px;" id="" value="@Model.passport_number">
                    </div>


                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Type of Visa:</label>
                        <input name="visa_type" type="text" style="width: 200px; border-radius: 5px;" id="" value="@Model.visa_type">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">
                            Visa Period
                        </label>
                        <input name="visa_period" type="text" style="width: 200px; border-radius: 5px;" id="" value="@Model.visa_period">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Apply and Receive:</label>
                        <input name="apply_receive" type="text" style="width: 200px; border-radius: 5px;" id="" value="@Model.apply_receive">
                    </div>
                    <input type="hidden" name="page" id="inputPage" />
                    <button id="searchBtn" type="submit" onclick="search(1);" class="btn btn-info" style="margin-left: 150px;"> Search</button>

                </form>

            </div>



        </div>


    </div>
    <br />


    <div class="table-scroll">
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Full Name</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Date Of Birth</th>
                        <th scope="col">Nationality</th>
                        <th scope="col">Passport Number</th>
                        <th scope="col">Expried Date</th>
                        <th scope="col">Type Of Visa</th>
                        <th scope="col">Visa Period</th>
                        <th scope="col">Apply and Receive</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.VisaLetters)
                    {
                        <tr>
                            <td>
                                @item.fullname
                            </td>
                            <td>
                                @if (@item.gender.Equals("false"))
                                {<span>Female</span>}
                                else if (@item.gender.Equals("true"))
                                {
                                    <span>
                                        Male
                                    </span>
                                }
                                else
                                {
                                    <span>
                                        N/A
                                    </span>
                                }

                            </td>
                            <td>
                                @if (@item.dob.ToString("yyyy-MM-dd") == null)
                                {
                                    <span> N/A </span>
                                }
                              

                            </td>
                            <td>

                                @if (@item.nationality == null)
                                {
                                    <span> N/A </span>
                                }
                                else
                                {
                                    @item.nationality
                                }
                            </td>

                            <td>
                                @item.passport_number
                            </td>
                            <td>
                                @item.expire_date.ToString("yyyy-MM-dd")
                            </td>
                            <td>
                                @item.visa_type
                            </td>
                            <td>
                                @item.visa_period
                            </td>
                            <td>
                                @item.apply_receive
                            </td>
                            <td>
                                <button onclick="editVisaLetter('@item.pre_approval_visa_letter_id', '@item.visa_type', '@item.visa_period','@item.apply_receive')" class="btn btn-success">
                                    <a href="#xmas-popup" style="text-decoration: none; color: white;">Edit</a>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
        <div>
            @Html.Raw(ISM.WebApp.Utils.PagingUtils.pager(Model.totalPage, Model.page, 3))
        </div>

        <div id="xmas-popup" class="popup" href="#">
            <div class="popup-content">
                <form id="editVisaLetterForm" asp-controller="VisaLetter" asp-action="edit" method="post">
                    <h1 style="text-align: center; margin-bottom: 40px;">Edit Pre-approval Visa Letter</h1>
                    <input id="edit_VisaLetter_id" type="hidden">
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:150px;">What type of Visa do you want to apply?</label>
                        @*<input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_VisaType">*@
                        <select id="edit_VisaType" style="margin-left: 30px;border-radius: 5px;">
                                <option value="Single entry visa">Single entry visa</option>
                                <option value="Multiple entry visa">Multiple entry visa</option>
                            </select>
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Visa Period:</label>
                        <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_VisaPeriod">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Apply and Receive:</label>
                        <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_ApplyReceive">
                    </div>
                    <div class="form-group row">
                        <button onclick="validateEditVisaLetter();" style="margin-left: 190px; width: 80px;" type="button" class="btn btn-info">Save</button>
                        <button style="margin-left: 80px;width: 80px;" type="button" class="btn btn-danger">
                            <a style="text-decoration: none; color: white;" href="#">Cancel</a>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div>
        <a href="#" style="text-decoration: none;"> How to apply for a VietNam Visa</a>
       

            <button class="btn btn-success" style="float:right">
                <a style="text-decoration:none;color:white" href="/VisaLetter/ExportToExcel">Extract to excel</a>
            </button>
     
    </div>
</div>

