@model ISM.WebApp.ViewModels.VisaLetterIndexViewModel
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using ISM.WebApp.Constant;
@using ISM.WebApp.Utils
@{
    var sessionUser = JsonConvert.DeserializeObject<Account>(Context.Session.GetString(LoginConst.SessionKeyName));
    if (sessionUser.role_name == "Admin")
    {
        ViewData["Title"] = "Pre-Approval Visa Page";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (sessionUser.role_name == "Staff")
    {
        ViewData["Title"] = "Pre-Approval Visa  Page";
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
}
<div style="height: 500px; background-color: white;">
    <h1 style="text-align: center;">Pre-Approval Visa Letter</h1>
    <div style="height:50px">
        <div class="dropdown_search">
            <button onclick="myFunction1()" style="width: 80px; border-radius: 10px" class="btn btn-primary">Search</button>
            <div id="myDropdown_search" class="dropdown-content_search" style="height: 400px; margin-top: 10px;">
                <form style="width: 320px;" id="searchForm" asp-controller="VisaLetter" asp-action="Index" method="get">
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;"> Full Name:</label>
                        <input name="fullname" type="text" style="width: 200px; border-radius: 5px;" value="@Model.fullname">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">DOB:</label>
                        <input name="dob" type="date" style="width: 200px; border-radius: 5px;" id="" value="@(Model.dob.HasValue?Model.dob.Value.ToString("yyyy-MM-dd"):"")">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Expiry Date:</label>
                        <input name="expired_date" type="date" style="width: 200px; border-radius: 5px;" id="" value="@(Model.expired_date.HasValue?Model.expired_date.Value.ToString("yyyy-MM-dd"):"")">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Nationality:</label>
                        <input name="nationality" type="text" style="width: 200px; border-radius: 5px;" id="" value="@Model.nationality">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Passport Number:</label>
                        <input name="passport_number" type="text" style="width: 200px; border-radius: 5px;" id="" value="@Model.passport_number">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Type of Visa:</label>
                        <input name="visa_type" type="text" style="width: 200px; border-radius: 5px;" id="" value="@Model.visa_type">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">
                            Visa Period
                        </label>
                        <input name="visa_period" type="text" style="width: 200px; border-radius: 5px;" id="" value="@Model.visa_period">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Apply and Receive:</label>
                        <input name="apply_receive" type="text" style="width: 200px; border-radius: 5px;" id="" value="@Model.apply_receive">
                    </div>
                    <select name="degreeOrMobility" id="search_degreeOrMobility" style="width:150px ; margin-left:40%; display:none;">
                        @if (Model.degreeOrMobility.Equals("Degree"))
                        {
                            <option value="Degree" selected>Degree Student</option>
                            <option value="Mobility">Mobility Student</option>
                        }
                        else
                        {
                            <option value="Degree">Degree Student</option>
                            <option value="Mobility" selected>Mobility Student</option>
                        }
                    </select>
                    <input type="hidden" name="page" id="inputPage" />
                    <button id="searchBtn" type="submit" onclick="search(1);" class="btn btn-info" style="margin-left: 150px;"> Search</button>
                </form>
            </div>
        </div>
        <select onchange="searchDegreeOrMobility()" id="outside_degreeOrMobility" style="text-align: center; margin-left: 35%; border-radius: 5px;">
            @if (Model.degreeOrMobility.Equals("Degree"))
            {
                <option value="Degree" selected>Degree Student</option>
                <option value="Mobility">Mobility Student</option>
            }
            else
            {
                <option value="Degree">Degree Student</option>
                <option value="Mobility" selected>Mobility Student</option>
            }
        </select>
    </div>
    <br />
    <div class="table-scroll">
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Full Name</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Date Of Birth</th>
                        <th scope="col">Nationality</th>
                        @if (Model.degreeOrMobility.Equals("Mobility"))
                        {
                            <th scope="col">Home University</th>
                        }
                        <th scope="col">Passport Number</th>
                        <th scope="col">Expiry Date</th>
                        <th scope="col">Type Of Visa</th>
                        <th scope="col">Visa Period</th>
                        <th scope="col">Apply and Receive</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.VisaLetters)
                    {
                    <tr>
                        <td>
                            @item.fullname
                        </td>
                        <td>
                            @if (item.gender == null)
                            {

                            }
                            else if (item.gender == true)
                            {
                                @:Male
                            }
                            else if (item.gender == false)
                            {
                                @:Female
                            }
                        </td>
                        <td>
                            @(item.dob.HasValue?item.dob.Value.ToString("dd-MM-yyyy"):"")
                        </td>
                        <td>
                            @item.nationality
                        </td>
                        @if (Model.degreeOrMobility.Equals("Mobility"))
                        {
                            <td>
                                @item.home_univercity
                            </td>
                        }
                        <td>
                            @item.passport_number
                        </td>
                        <td>
                            @(item.expired_date.HasValue?item.expired_date.Value.ToString("dd-MM-yyyy"):"")
                        </td>
                        <td>
                            @item.visa_type
                        </td>
                        <td>
                            @item.visa_period
                        </td>
                        <td>
                            @item.apply_receive
                        </td>
                        <td style="text-align: center;">
                            <button style="width: 80px; border-radius: 10px" onclick="editVisaLetter('@item.pre_approval_visa_letter_id', '@item.visa_type', '@item.visa_period', '@item.apply_receive'); showPopup('xmas-popup')" class="btn btn-info">
                               Edit
                            </button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div>
            @Html.Raw(ISM.WebApp.Utils.PagingUtils.pager(Model.totalPage, Model.page, 3))
        </div>
        <div id="xmas-popup" class="popup" href="#">
            <div class="popup-content" style="height:420px">
                <form id="editVisaLetterForm" asp-controller="VisaLetter" asp-action="edit" method="post">
                    <h1 style="text-align: center; margin-bottom: 40px;">Edit Pre-approval Visa Letter</h1>
                    <input id="edit_VisaLetter_id" type="hidden">
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:150px;">What type of Visa do you want to apply?</label>
                        @*<input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_VisaType">*@
                        <select id="edit_VisaType" style="margin-left: 30px;border-radius: 5px;">
                            <option value="Single entry visa">Single entry visa</option>
                            <option value="Multiple entry visa">Multiple entry visa</option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Visa Period:</label>
                        <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_VisaPeriod">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Apply and Receive:</label>
                        <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_ApplyReceive">
                    </div>
                    <div class="form-group row">
                        <button id="save" onclick="validateEditVisaLetter();" style="margin-left: 190px; width: 80px;" type="button" class="btn btn-info">Save</button>
                        <button onclick="hidePopup('xmas-popup')" id="cancel" style="margin-left: 80px;width: 80px;" type="button" class="btn btn-danger">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div>
        <a asp-controller="Article" asp-action="Index" asp-route-id="" asp-route-type="How to apply for a Vietnam visa" style="text-decoration: none;"> How to apply for a VietNam Visa</a>


        <button class="btn btn-success" style="float:right">
            <a style="text-decoration:none;color:white" href="/VisaLetter/ExportToExcel">Extract to excel</a>
        </button>

    </div>
</div>

