@model ISM.WebApp.ViewModels.FlightIndexViewModel
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using ISM.WebApp.Constant;
@{
    var sessionUser = JsonConvert.DeserializeObject<Account>(Context.Session.GetString(LoginConst.SessionKeyName));
    if (sessionUser.role_name == "Degree")
    {
        ViewData["Title"] = "Pre-Approval Visa Page";
        Layout = "~/Views/Shared/_DegreeStudentLayout.cshtml";
    }
    else if (sessionUser.role_name == "Mobility")
    {
        ViewData["Title"] = "Pre-Approval Visa  Page";
        Layout = "~/Views/Shared/_MobilityStudentLayout.cshtml";
    }
}

<h1 style="text-align:center">My Flight</h1>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="~/image/Flight/@Model.student_flight.picture_a" class="rounded float-left" style="width: 300px; height: 300px; margin-bottom:20px" asp-append-version="true">

            @if (sessionUser.role_name.Equals("Mobility"))
            {
                <img src="~/image/Flight/@Model.student_flight.picture_d" class="rounded float-left" style="width: 300px; height: 300px;" asp-append-version="true">
            }
        </div>
        <div class="col-md-8">
            <form>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Full Name:</label>
                    <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" value="@Model.student_flight.fullname" disabled>
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Account:</label>
                    <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" value="@Model.student_flight.account" disabled>
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Flight Number (Arrival):</label>
                    <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" value="@Model.student_flight.flight_number_a" disabled>
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Arrival Date:</label>
                    <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" value="@(Model.student_flight.arrival_date_a.HasValue?Model.student_flight.arrival_date_a.Value.ToString("dd-MM-yyyy"):"")" disabled>
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Arrival Time in Vietnam:</label>
                    <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" value="@Model.student_flight.arrival_time_a" disabled>
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Airport of Departure:</label>
                    <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" value="@Model.student_flight.airport_departure_a" disabled>
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Airport of Arrival:</label>
                    <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" value="@Model.student_flight.airport_arrival_a" disabled>
                </div>
                @if (sessionUser.role_name.Equals("Mobility"))
                {
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Flight Number (Departure):</label>
                        <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" value="@Model.student_flight.flight_number_d" disabled>
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Departure Date:</label>
                        <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" value="@(Model.student_flight.arrival_date_d.HasValue ? Model.student_flight.arrival_date_d.Value.ToString("dd-MM-yyyy") : "")" disabled>
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Departure Time in Vietnam:</label>
                        <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" value="@Model.student_flight.arrival_time_d" disabled>
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Airport of Departure:</label>
                        <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" value="@Model.student_flight.airport_departure_d" disabled>
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Airport of Arrival:</label>
                        <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" value="@Model.student_flight.airport_arrival_d" disabled>
                    </div>
                }
                <div class="form-group row">
                    <button id="save_create" type="button" onclick="showPopup('xmas-popup');" style="border-radius: 10px; width: 80px; margin-left:270px" class="btn btn-info">
                        Edit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<button id="flight_btn_skip" onclick="disableButton('flight_btn_skip'); skipNotificationFlight('@sessionUser.user_id');" style="border-radius: 10px; width: auto; float:right" class="btn btn-danger">Skip Notification</button>

<div id="xmas-popup" class="popup">
    <div class="popup-content" style="height:470px; width:900px; overflow-y:scroll; overflow-x:hidden">
        <div class="row">
            <div class="col-md-5">
                <img src="~/image/Flight/@Model.student_flight.picture_a" class="rounded float-left" style="width: 300px; height: 300px; margin-left:60px;margin-top:60px" asp-append-version="true">
                @if (sessionUser.role_name.Equals("Mobility"))
                {
                    <img src="~/image/Flight/@Model.student_flight.picture_d" class="rounded float-left" style="width: 300px; height: 300px; margin-left:60px;margin-top:60px" asp-append-version="true">
                }
            </div>
            <div class="col-md-7">
                <form enctype="multipart/form-data">
                    <input type="hidden" id="edit_student_id" value="@Model.student_flight.student_id" />
                    <input type="hidden" id="edit_flight_id" value="@Model.student_flight.flight_id" />
                    <input type="hidden" id="degreeOrMobility_check" value="@sessionUser.role_name" />
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Flight Number (Arrival):</label>
                        <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_flight_number_a" value="@Model.student_flight.flight_number_a">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Arrival Date:</label>
                        <input type="date" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_arrival_date_a" value="@(Model.student_flight.arrival_date_a.HasValue?Model.student_flight.arrival_date_a.Value.ToString("yyyy-MM-dd"):"")">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Arrival Time in Vietnam:</label>
                        <input type="time" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_arrival_time_a" value="@Model.student_flight.arrival_time_a">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Airport of Departure:</label>
                        <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_airport_departure_a" value="@Model.student_flight.airport_departure_a">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Airport of Arrival:</label>
                        <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_airport_arrival_a" value="@Model.student_flight.airport_arrival_a">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Picture:</label>
                        <input type="file" style="width: 300px;margin-left:30px; border-radius: 5px;" id="edit_picture_a" value="Choose a picture" accept=".jpg,.jpeg,.png">
                    </div>
                    @if (sessionUser.role_name.Equals("Mobility"))
                    {
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Flight Number (Departure):</label>
                            <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_flight_number_d" value="@Model.student_flight.flight_number_d">
                        </div>
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Departure Date:</label>
                            <input type="date" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_arrival_date_d" value="@(Model.student_flight.arrival_date_d.HasValue ? Model.student_flight.arrival_date_d.Value.ToString("yyyy-MM-dd") : "")">
                        </div>
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Departure Time in Vietnam:</label>
                            <input type="time" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_arrival_time_d" value="@Model.student_flight.arrival_time_d">
                        </div>
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Airport of Departure:</label>
                            <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_airport_departure_d" value="@Model.student_flight.airport_departure_d">
                        </div>
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Airport of Arrival:</label>
                            <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_airport_arrival_d" value="@Model.student_flight.airport_arrival_d">
                        </div>
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Picture:</label>
                            <input type="file" style="width: 300px;margin-left:30px; border-radius: 5px;" id="edit_picture_d" value="Choose a picture" accept=".jpg,.jpeg,.png">
                        </div>
                    }
                    <div class="form-group row">
                        <button onclick="disableButton('save'); validateCreateOrEditFlight();" id="save_edit" style="margin-left: 190px; width: 80px;" type="submit" class="btn btn-success">
                            Save
                        </button>
                        <button onclick="hidePopup('xmas-popup')" id="cancel" style="margin-left: 80px;width: 80px;" type="button" class="btn btn-danger">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

