@model ISM.WebApp.ViewModels.PassportIndexViewModel
@{
    ViewData["Title"] = "Passport Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="height: 500px; background-color: white;">
    <h1 style="text-align: center;">Passport</h1>
    <div style="height: 50px;">
        <div class="dropdown_search">
            <button onclick="myFunction1()" style="background-color:aquamarine;" class="dropbtn_search">Search</button>
            <div id="myDropdown_search" class="dropdown-content_search" style="height: 400px; margin-top: 10px;">
                <form style="width: 320px;" asp-controller="Passport" asp-action="Index" method="get">
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Account:</label>
                        <input name="account" type="text" style="width: 200px; border-radius: 5px;" id="" value="@Model.account">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Full Name:</label>
                        <input name="student_name" type="text" style="width: 200px; border-radius: 5px;" id="" value="@Model.student_name">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Passport Number:</label>
                        <input name="passport_number" type="text" style="width: 200px; border-radius: 5px;" id="" value="@Model.passport_number">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Start Date From</label>
                        <input name="start_dateFrom" type="date" style="width: 200px; border-radius: 5px;" id="start_dateFrom" value="@(Model.start_dateFrom.HasValue?Model.start_dateFrom.Value.ToString("yyyy-MM-dd"):"")">
                        @*<button type="button" onclick="document.getElementById('start_dateFrom').valueAsDate = null">Clear</button>*@
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Start Date To</label>
                        <input name="start_dateTo" type="date" style="width: 200px; border-radius: 5px;" id="start_dateTo" value="@(Model.start_dateTo.HasValue?Model.start_dateTo.Value.ToString("yyyy-MM-dd"):"")">
                        @*<button type="button" onclick="document.getElementById('start_dateTo').valueAsDate = null">Clear</button>*@
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">End Date From</label>
                        <input name="expired_dateFrom" type="date" style="width: 200px; border-radius: 5px;" id="expired_dateFrom" value="@(Model.expired_dateFrom.HasValue?Model.expired_dateFrom.Value.ToString("yyyy-MM-dd"):"")">
                        @*<button type="button" onclick="document.getElementById('expired_dateFrom').valueAsDate = null">Clear</button>*@
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">End Date To</label>
                        <input name="expired_dateTo" type="date" style="width: 200px; border-radius: 5px;" id="expired_dateTo" value="@(Model.expired_dateTo.HasValue?Model.expired_dateTo.Value.ToString("yyyy-MM-dd"):"")">
                        @*<button type="button" onclick="document.getElementById('expired_dateTo').valueAsDate = null">Clear</button>*@
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Issuing Authority:</label>
                        <input name="issuing_authority" type="text" style="width: 200px; border-radius: 5px;" id="" value="@Model.issuing_authority">
                    </div>
                    <input type="hidden" name="page" id="inputPage" />
                    <button id="searchBtn" type="submit" onclick="search(1);" class="btn btn-info" style="margin-left: 150px;">Search</button>
                </form>
            </div>
        </div>



        @*<button style="float: right; width: 80px;" class="btn btn-success">
                <a href="#xmas-popup" style="text-decoration: none; color: white;">Edit</a>
            </button>*@
    </div>
    <br>
    <br>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Account</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Picture</th>
                    <th scope="col">Passport Number</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">Expired Date</th>
                    <th scope="col">Issuing Authority</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.passports)
                {
                    <tr>
                        <td>
                            @item.account
                        </td>
                        <td>
                            @item.student_name
                        </td>
                        <td>
                            @item.picture
                        </td>
                        <td>
                            @item.passport_number
                        </td>
                        <td>
                            @item.start_date.ToString("yyyy-MM-dd")
                        </td>
                        <td>
                            @item.expired_date.ToString("yyyy-MM-dd")
                        </td>
                        <td>
                            @item.issuing_authority
                        </td>
                        <td>
                            <button onclick="editPassport('@item.passport_id', '@item.passport_number', '@ISM.WebApp.Utils.FormatUtil.ToInputDate(item.start_date)', '@ISM.WebApp.Utils.FormatUtil.ToInputDate(item.expired_date)', '@item.issuing_authority')" class="btn btn-info">
                                <a href="#xmas-popup" style="text-decoration: none; color: white;">Edit</a>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        @Html.Raw(ISM.WebApp.Utils.PagingUtils.pager(Model.totalPage, Model.page, 3))
    </div>
    <!-- popup code -->
    <div id="xmas-popup" class="popup" href="#">
        <div class="popup-content">
            <form id="editPassportForm" asp-controller="Passport" asp-action="Edit" method="post">
                <h1 style="text-align: center; margin-bottom: 40px;">Edit Passport Information</h1>
                <input id="edit_passport_id">
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Passport Number:</label>
                    <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_PassportNumber">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Start Date:</label>
                    <input type="date" style="width: 300px; height: 30px; margin-left: 30px; border-radius: 5px;" id="edit_StartDate">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Expired Date:</label>
                    <input type="date" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_ExpiredDate">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Issuing Authority:</label>
                    <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_IssuingAuthority">
                </div>
                <div class="form-group row">
                    <button onclick="validateEditPassport();" style="margin-left: 190px; width: 80px;" type="button" class="btn btn-info">Save</button>
                    <button style="margin-left: 80px;width: 80px;" type="button" class="btn btn-danger">
                        <a style="text-decoration: none; color: white;" href="#">Cancel</a>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div style="margin-top: 20px;">
        <a href="#" style="text-decoration: none;"> How to apply for a Viet Nam Passport</a>
        <i class="fa fa-asterisk" aria-hidden="true" style="float: right;">
            <button class="btn btn-danger">Set Up Notification</button>
            <button style="width: 150px;" class="btn btn-success">Extract to Excel</button>
        </i>
    </div>
</div>