@model ISM.WebApp.ViewModels.PassportIndexViewModel
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using ISM.WebApp.Constant;
@{
    var sessionUser = JsonConvert.DeserializeObject<Account>(Context.Session.GetString(LoginConst.SessionKeyName));
    if (sessionUser.role_name == "Admin")
    {
        ViewData["Title"] = "Passport Page";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (sessionUser.role_name == "Staff")
    {
        ViewData["Title"] = "Passport Page";
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
}

<h1 style="text-align: center;">Passport</h1>
<div style="height: 50px;">
    <div class="dropdown_search">
        <button type="button" onclick="search_passport()" style="width:80px; border-radius:10px" class="btn btn-primary">Search</button>
        <div id="myDropdown_search" class="dropdown-content_search" style="height: 400px; margin-top: 10px;">
            <form style="width: 320px;" id="searchForm" asp-controller="Passport" asp-action="Index" method="get">
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Account:</label>
                    <input maxlength="30" name="account" type="text" style="width: 200px; border-radius: 5px;" value="@Model.account">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Full Name:</label>
                    <input maxlength="100" name="fullname" type="text" style="width: 200px; border-radius: 5px;" value="@Model.fullname">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Passport Number:</label>
                    <input maxlength="250" name="passport_number" type="text" style="width: 200px; border-radius: 5px;" value="@Model.passport_number">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Start Date</label>
                    <input name="start_date" type="date" style="width: 200px; border-radius: 5px;" value="@(Model.start_date.HasValue?Model.start_date.Value.ToString("yyyy-MM-dd"):"")">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Expiry Date</label>
                    <input name="expired_date" type="date" style="width: 200px; border-radius: 5px;" value="@(Model.expired_date.HasValue?Model.expired_date.Value.ToString("yyyy-MM-dd"):"")">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Issuing Authority:</label>
                    <input maxlength="250" name="issuing_authority" type="text" style="width: 200px; border-radius: 5px;" value="@Model.issuing_authority">
                </div>
                <select name="degreeOrMobility" id="search_degreeOrMobility" style="width:150px ; margin-left:40%; display:none;">
                    @if (Model.degreeOrMobility.Equals("Degree"))
                    {
                        <option value="Degree" selected>Degree Student</option>
                        <option value="Mobility">Mobility Student</option>
                    }
                    else
                    {
                        <option value="Degree">Degree Student</option>
                        <option value="Mobility" selected>Mobility Student</option>
                    }
                </select>
                <input type="hidden" name="page" id="inputPage">
                <button id="searchBtn" type="submit" onclick="disableButton('searchBtn'); search(1);" class="btn btn-info" style="margin-left: 150px;">Search</button>
            </form>
        </div>
    </div>
    <center>
        <select onchange="searchDegreeOrMobility()" id="outside_degreeOrMobility" style="text-align: center; border-radius: 5px;">
            @if (Model.degreeOrMobility.Equals("Degree"))
            {
                <option value="Degree" selected>Degree Student</option>
                <option value="Mobility">Mobility Student</option>
            }
            else
            {
                <option value="Degree">Degree Student</option>
                <option value="Mobility" selected>Mobility Student</option>
            }
        </select>
    </center>
</div>
<br>
<br>
<div id="overlay"></div>
<div class="table-scroll">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Account</th>
                <th scope="col">Full Name</th>
                <th scope="col">Picture</th>
                <th scope="col">Passport Number</th>
                <th scope="col">Start Date</th>
                <th scope="col">Expired Date</th>
                <th scope="col">Issuing Authority</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.passports)
            {
                <tr>
                    <td>
                        @item.account
                    </td>
                    <td>
                        @item.fullname
                    </td>
                    <td style="text-align: center;">
                        @if (!String.IsNullOrEmpty(item.picture))
                        {
                            <img src="~/image/Passport/@item.picture" style="width: 50px; height: 50px;" asp-append-version="true" />
                        }
                    </td>
                    <td>
                        @item.passport_number
                    </td>
                    <td>
                        @(item.start_date.HasValue?item.start_date.Value.ToString("dd-MM-yyyy"):"")
                    </td>
                    <td>
                        @(item.expired_date.HasValue?item.expired_date.Value.ToString("dd-MM-yyyy"):"")
                    </td>
                    <td>
                        @item.issuing_authority
                    </td>
                    <td style="text-align: center;">
                        <button style="width:80px; border-radius:10px" onclick="editPassport('@item.passport_id', '@item.passport_number', '@ISM.WebApp.Utils.FormatUtil.ToInputDate(item.start_date)', '@ISM.WebApp.Utils.FormatUtil.ToInputDate(item.expired_date)', '@item.issuing_authority'); showPopup('xmas-popup')" class="btn btn-info">
                            Edit
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @Html.Raw(ISM.WebApp.Utils.PagingUtils.pager(Model.totalPage, Model.page, 3))
</div>
<!-- popup code -->
<div id="xmas-popup" class="popup">
    <div class="popup-content" style="height:420px">
        <form id="editPassportForm" asp-controller="Passport" asp-action="Edit" method="post">
            <h1 style="text-align: center; margin-bottom: 40px;">Edit Passport Information</h1>
            <input type="hidden" id="edit_passport_id">
            <div class="form-group row">
                <label style="margin-left: 30px; font-weight: bold; width:100px;">Passport Number:</label>
                <input maxlength="250" type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_PassportNumber">
            </div>
            <div class="form-group row">
                <label style="margin-left: 30px; font-weight: bold; width:100px;">Start Date:</label>
                <input type="date" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_StartDate">
            </div>
            <div class="form-group row">
                <label style="margin-left: 30px; font-weight: bold; width:100px;">Expired Date:</label>
                <input type="date" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_ExpiredDate">
            </div>
            <div class="form-group row">
                <label style="margin-left: 30px; font-weight: bold; width:100px;">Issuing Authority:</label>
                <input maxlength="250" type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_IssuingAuthority">
            </div>
            <div class="form-group row">
                <button onclick="disableButton('save'); validateEditPassport();" style="margin-left: 190px; width: 80px;" type="button" class="btn btn-success" id="save">Save</button>
                <button onclick="hidePopup('xmas-popup')" style="margin-left: 80px;width: 80px;" type="button" class="btn btn-danger" id="cancel">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>

<!-- POP UP Set Up Notification -->
<div id="xmas-popup-assign" class="popup">
    <div class="popup-content-assign" style="height:220px">
        <form id="notificationForm" asp-controller="Passport" asp-action="CreateOrEdit" method="post">
            <h1 style="text-align: center; margin-top: 20px;margin-bottom: 50px;">Set Up Notification</h1>
            <div class="form-group row">
                <label style="margin-left: 30px; font-weight: bold; width:100px;">Days before:</label>
                <input maxlength="3" type="number" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="notification_input">
            </div>
            <div class="form-group row">
                <button onclick="disableButton('save_setup'); validateNotificationPassport();" style="margin-left: 190px; width: 80px;" type="button" class="btn btn-success" id="save_setup">Save</button>
                <button onclick="hidePopup('xmas-popup-assign')" style="margin-left: 80px;width: 80px;" type="button" class="btn btn-danger" id="cancel">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>

<div style="margin-top: 20px;">
    <a asp-controller="Article" asp-action="Index" asp-route-id="" asp-route-type="How to renew your passport" style="text-decoration: none;">How to renew your Passport</a>
    <a style="text-decoration: none; color: white; float: right; margin-left: 5px;" href="/Passport/ExportToExcel">
        <button style="width: 150px;" class="btn btn-success">
            Export to excel
        </button>
    </a>
    <i class="fa fa-asterisk" aria-hidden="true" style="float: right;">
        <button type="button" onclick="showPopup('xmas-popup-assign')" class="btn btn-danger">
            Setup Notification
        </button>
    </i>
</div>
<script>function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn_search')) {
            var dropdowns = document.getElementsByClassName("dropdown-content_search");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show_search')) {
                    openDropdown.classList.remove('show_search');
                }
            }
        }
    }

    function search_passport() {
        document.getElementById("myDropdown_search").classList.toggle("show_search_passport");
    }
    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown_search");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }</script>