@model ISM.WebApp.ViewModels.StaffIndexViewModel
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <title>FPT INTERNATIONAL MANAGE STUDENT</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="~/css/header.css" /> <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/Popup.css" />
    <link rel="stylesheet" href="~/css/header.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="stylesheet" href="~/css/footer.css">
    <style>
        .dropbtn {
            background: white;
            /* width: 50px;
            height: 50px;*/
            margin-top: 10px;
            padding: 2px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .table-scroll {
            height: 350px;
            overflow-y: scroll;
        }
    </style>
</head>

<body>
    <div class="container-fluid logo-user">
        <div class="row" style="height:100px;">
            <div class="col-xl-9">
                <img src="~/image/fpt.png" />
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-1">
                <button type="button" class="icon-button">
                    <span class="material-icons">notifications</span>
                    <a><span class="icon-button__badge">2</span> </a>
                </button>
            </div>
            <div class="col-xl-1">
                <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn"> Admin </button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="#home">My Infor</a>
                        <a href="#about">Log Out</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white;">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#">Staff</a>
                    </li>
                    <li class="nav-item dropdowns">
                        <a class="nav-link" href="#" id="navbarDropdown">
                            Student
                        </a>
                        <div class="dropdown-description">
                            <a class="dropdown-item" href="#">Student Group</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Manage Student</a>

                        </div>
                    </li>
                    <li class="nav-item dropdowns">
                        <a class="nav-link" href="#" id="navbarDropdown">
                            Visa & Passport
                        </a>
                        <div class="dropdown-description">
                            <a class="dropdown-item" href="#">Pre-Approval Visa Letter</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Visa</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Passport</a>
                        </div>
                    </li>
                    <li class="nav-item dropdowns">
                        <a class="nav-link" href="#" id="navbarDropdown">
                            Insurance
                        </a>
                        <div class="dropdown-description">
                            <a class="dropdown-item" href="#">Insurance Instruction</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Student Insurance</a>
                        </div>
                    </li>
                    <li class="nav-item dropdowns">
                        <a class="nav-link" href="#" id="navbarDropdown">
                            Pre-departure
                        </a>
                        <div class="dropdown-description">
                            <a class="dropdown-item" href="#">What to pack</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Student's Flight</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Handbook</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Accomodation</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">General Agenda</a>
                        </div>
                    </li>
                    <li class="nav-item dropdowns">
                        <a class="nav-link" href="#" id="navbarDropdown">
                            Program
                        </a>
                        <div class="dropdown-description">
                            <a class="dropdown-item" href="#">Orientation</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Detailed agenda</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Accommodation</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Transportation</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Program material</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Surveys</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Program Materials</a>
                        </div>
                    </li>
                    <li class="nav-item dropdowns">
                        <a class="nav-link" href="#" id="navbarDropdown">
                            Local recommendation
                        </a>
                        <div class="dropdown-description">
                            <a class="dropdown-item" href="#">Da Nang</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Ho Chi Minh</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Ha Noi</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Can Tho</a>
                        </div>
                    </li>
                    <li class="nav-item dropdowns">
                        <a class="nav-link" href="#" id="navbarDropdown">
                            Job services
                        </a>
                        <div class="dropdown-description">
                            <a class="dropdown-item" href="#">I want a Job</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Job Vancancies</a>

                        </div>
                    </li>
                    <li class="nav-item dropdowns">
                        <a class="nav-link" href="#">FAQs</a>
                    </li>
                    <li class="nav-item dropdowns">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div style="height: 500px; background-color: white;">
            <h1 style="text-align: center;">Staff</h1>
            <div style="height: 50px;">
                <button style="width: 100px; border-radius: 10px; float: right; background-color: greenyellow;">
                    <a style="text-decoration: none;" href="#xmas-popup">Create</a>
                </button>
                <br>
                <!-- SEARCH FORM -->
                <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Search
                    </button>
                    <div class="dropdown-menu">
                        <form style="width: 320px;" id="searchForm" asp-controller="Staff" asp-action="Index" method="get">
                            <div class="form-group row">
                                <label style="margin-left: 30px; font-weight: bold; width:100px;">Name:</label>
                                <input name="fullname" type="text" style="width: 200px; border-radius: 5px;" id="" value="@Model.fullname">
                            </div>
                            <div class="form-group row">
                                <label style="margin-left: 30px; font-weight: bold; width:100px;">Account:</label>
                                <input name="account" type="text" style="width: 200px; border-radius: 5px;" id="" value="@Model.account">
                            </div>
                            <div class="form-group row">
                                <label style="margin-left: 30px; font-weight: bold; width:100px;">Email:</label>
                                <input name="email" type="text" style="width: 200px; border-radius: 5px;" id="" value="@Model.email">
                            </div>
                            <div class="form-group row">
                                <label style="margin-left: 30px; font-weight: bold; width:100px;">Start Date From</label>
                                <input name="startDateFrom" type="date" style="width: 200px; border-radius: 5px;" id="startDateFrom" value="@(Model.startDateFrom.HasValue?Model.startDateFrom.Value.ToString("yyyy-MM-dd"):"")">
                                @* <button type="button" onclick="document.getElementById('startDateFrom').valueAsDate = null">Clear</button>*@
                            </div>
                            <div class="form-group row">
                                <label style="margin-left: 30px; font-weight: bold; width:100px;">Start Date To</label>
                                <input name="startDateTo" type="date" style="width: 200px; border-radius: 5px;" id="startDateTo" value="@(Model.startDateTo.HasValue?Model.startDateTo.Value.ToString("yyyy-MM-dd"):"")">
                                <button type="button" onclick="document.getElementById('startDateTo').valueAsDate = null">Clear</button>
                            </div>
                            <div class="form-group row">
                                <label style="margin-left: 30px; font-weight: bold; width:100px;">End Date From</label>
                                <input name="endDateFrom" type="date" style="width: 200px; border-radius: 5px;" id="endDateFrom" value="@(Model.endDateFrom.HasValue?Model.endDateFrom.Value.ToString("yyyy-MM-dd"):"")">
                                <button type="button" onclick="document.getElementById('endDateFrom').valueAsDate = null">Clear</button>
                            </div>
                            <div class="form-group row">
                                <label style="margin-left: 30px; font-weight: bold; width:100px;">End Date To</label>
                                <input name="endDateTo" type="date" style="width: 200px; border-radius: 5px;" id="endDateTo" value="@(Model.endDateTo.HasValue?Model.endDateTo.Value.ToString("yyyy-MM-dd"):"")">
                                <button type="button" onclick="document.getElementById('endDateTo').valueAsDate = null">Clear</button>
                            </div>
                            <div class="form-group row">
                                <label style="margin-left: 30px; font-weight: bold; width:100px;">Status</label>
                                <select name="status" class="fomr-control" style="border-radius: 5px; width: 200px;">
                                    @if (Model.status == null)
                                    {
                                        <option value="" selected>All</option>
                                    }
                                    else
                                    {
                                        <option value="">All</option>
                                    }
                                    @if (Model.status == true)
                                    {
                                        <option value="true" selected>Active</option>
                                    }
                                    else
                                    {
                                        <option value="true">Active</option>
                                    }
                                    @if (Model.status == false)
                                    {
                                        <option value="false" selected>Inactive</option>
                                    }
                                    else
                                    {
                                        <option value="false">Inactive</option>
                                    }
                                </select>
                            </div>
                            <input type="hidden" name="page" id="inputPage" />
                            <button type="submit" onclick="search(1);" class="btn btn-info" style="margin-left: 150px;"> Search</button>
                        </form>
                    </div>
                </div>

                @*  <form id="searchForm" asp-controller="Staff" asp-action="Index" method="get">
                        <input type="text" name="fullname" value="@Model.fullname" />
                        <input type="text" name="email" value="@Model.email" />
                        <input type="text" name="account" value="@Model.account" />
                        <select name="status">
                            @if (Model.status == null)
                            {
                                <option value="" selected>All</option>
                            }
                            else
                            {
                                <option value="">All</option>
                            }
                            @if (Model.status == true)
                            {
                                <option value="true" selected>Active</option>
                            }
                            else
                            {
                                <option value="true">Active</option>
                            }
                            @if (Model.status == false)
                            {
                                <option value="false" selected>Inactive</option>
                            }
                            else
                            {
                                <option value="false">Inactive</option>
                            }
                        </select>
                        <input id="startDateFrom" name="startDateFrom" type="date" value="@(Model.startDateFrom.HasValue?Model.startDateFrom.Value.ToString("yyyy-MM-dd"):"")" />
                        <button type="button" onclick="document.getElementById('startDateFrom').valueAsDate = null">Clear</button>
                        <input id="startDateTo" name="startDateTo" type="date" value="@(Model.startDateTo.HasValue?Model.startDateTo.Value.ToString("yyyy-MM-dd"):"")" />
                        <button type="button" onclick="document.getElementById('startDateTo').valueAsDate = null">Clear</button>
                        <input id="endDateFrom" name="endDateFrom" type="date" value="@(Model.endDateFrom.HasValue?Model.endDateFrom.Value.ToString("yyyy-MM-dd"):"")" />
                        <button type="button" onclick="document.getElementById('endDateFrom').valueAsDate = null">Clear</button>
                        <input id="endDateTo" name="endDateTo" type="date" value="@(Model.endDateTo.HasValue?Model.endDateTo.Value.ToString("yyyy-MM-dd"):"")" />
                        <button type="button" onclick="document.getElementById('endDateTo').valueAsDate = null">Clear</button>
                        <input type="hidden" name="page" id="inputPage" />
                        <button type="submit" onclick="search(1);">Search</button>
                    </form>*@
                <br />
                <div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Account</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">End Date</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.staffs)
                            {
                                <tr>
                                    <td>
                                        @item.fullname
                                    </td>
                                    <td>
                                        @item.email
                                    </td>
                                    <td>
                                        @item.account
                                    </td>
                                    <td>
                                        @(item.startDate.HasValue?item.startDate.Value.ToString("dd-MM-yyyy"):"")
                                    </td>
                                    <td>
                                        @(item.endDate.HasValue?item.endDate.Value.ToString("dd-MM-yyyy"):"")
                                    </td>
                                    <td>
                                        @if (item.status == true)
                                        {
                                            @:Active
                                        }
                                        else
                                        {
                                            @:Inactive
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>


                    <!-- popup code -->
                    <div id="xmas-popup" class="popup" href="#">
                        <div class="popup-content">
                            <form id="createStaffForm" asp-controller="Staff" asp-action="Create" method="post">
                                <h1 style="text-align: center; margin-top: 20px;">Create Staff</h1>
                                <div class="form-group row">
                                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Full Name:</label>
                                    <input name="fullname" type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="create_fullname">
                                </div>
                                <div class="form-group row">
                                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Email:</label>
                                    <input name="email" type="email" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="create_email">
                                </div>
                                <div class="form-group row">
                                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Account:</label>
                                    <input name="account" type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="create_account">
                                </div>
                                <div class="form-group row">
                                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Start Date:</label>
                                    <input name="startDate" type="date" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="create_startDate">
                                </div>
                                <div class="form-group row">
                                    <label style="margin-left: 30px; font-weight: bold; width:100px;">End Date:</label>
                                    <input name="endDate" type="date" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="create_endDate">
                                </div>
                                <div class="form-group row">
                                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Status:</label>
                                    <select name="status" style="margin-left: 30px;border-radius: 5px;" id="create_status">
                                        <option value="true">Active</option>
                                        <option value="false">Inactive</option>
                                    </select>
                                </div>
                                <div class="form-group row">
                                    <button onclick="validateCreateStaff();" style="margin-left: 190px; width: 80px;" type="button" class="btn btn-success">Save</button>
                                    <button style="margin-left: 80px;width: 80px;" type="button" class="btn btn-danger"><a style="text-decoration: none; color: white;" href="#">Cancel</a></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div>
                    @Html.Raw(ISM.WebApp.Utils.PagingUtils.pager(Model.totalPage, Model.page, 3))
                </div>
            </div>

        </div>

        <footer>
            <div class="footer-top">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 col-lg-4 footer-about wow fadeInUp">
                            <img class="logo-footer" src="assets/img/logo.png" alt="logo-footer" data-at2x="assets/img/logo.png">
                            <p>
                                FPT là một ngôi trường thân thiện....
                            </p>

                        </div>
                        <div class="col-md-4 col-lg-4 offset-lg-1 footer-contact wow fadeInDown">
                            <h3>Contact</h3>
                            <p><i class="fas fa-map-marker-alt"></i> FPT UNIVERSITY DA NANG</p>
                            <p><i class="fas fa-phone"></i> Phone: (84+) 123456789</p>
                            <p>
                                <i class="fas fa-envelope"></i> Email: <a href="mailto:tranxuanback@gmail.com">tranxuanback@gmail.com</a>
                            </p>
                            <p><i class="fab fa-skype"></i> Skype: you_online</p>
                        </div>
                        <div class="col-md-4 col-lg-3 footer-social wow fadeInUp">
                            <h3>Follow us</h3>
                            <p>
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-pinterest"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>



    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/ManageStaff.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>