@model ISM.WebApp.ViewModels.StaffIndexViewModel
@{
    ViewData["Title"] = "Staff Manage Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div style="height: 500px; background-color: white;">
    <h1 style="text-align: center;">Staff</h1>
    <div style="height: 50px;">

        <button style="width: 100px; border-radius: 10px; float: right; background-color: greenyellow;">
            <a style="text-decoration: none;" href="#xmas-popup">Create</a>
        </button>
        <br>
        <!-- SEARCH FORM -->
        <div class="dropdown_search">
            <button onclick="myFunction1()" style="background-color: red;" class="dropbtn_search">Search</button>
            <div id="myDropdown_search" class="dropdown-content_search" style="height: 400px; margin-top: 10px;">
                <form style="width: 320px;" id="searchForm" asp-controller="Staff" asp-action="Index" method="get">
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Name:</label>
                        <input name="fullname" type="text" style="width: 200px; border-radius: 5px;" id="" value="@Model.fullname">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Account:</label>
                        <input name="account" type="text" style="width: 200px; border-radius: 5px;" id="" value="@Model.account">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Email:</label>
                        <input name="email" type="text" style="width: 200px; border-radius: 5px;" id="" value="@Model.email">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Start Date From</label>
                        <input name="startDateFrom" type="date" style="width: 200px; border-radius: 5px;" id="startDateFrom" value="@(Model.startDateFrom.HasValue?Model.startDateFrom.Value.ToString("yyyy-MM-dd"):"")">
                        @* <button type="button" onclick="document.getElementById('startDateFrom').valueAsDate = null">Clear</button>*@
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Start Date To</label>
                        <input name="startDateTo" type="date" style="width: 200px; border-radius: 5px;" id="startDateTo" value="@(Model.startDateTo.HasValue?Model.startDateTo.Value.ToString("yyyy-MM-dd"):"")">
                        <button type="button" onclick="document.getElementById('startDateTo').valueAsDate = null">Clear</button>
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">End Date From</label>
                        <input name="endDateFrom" type="date" style="width: 200px; border-radius: 5px;" id="endDateFrom" value="@(Model.endDateFrom.HasValue?Model.endDateFrom.Value.ToString("yyyy-MM-dd"):"")">
                        <button type="button" onclick="document.getElementById('endDateFrom').valueAsDate = null">Clear</button>
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">End Date To</label>
                        <input name="endDateTo" type="date" style="width: 200px; border-radius: 5px;" id="endDateTo" value="@(Model.endDateTo.HasValue?Model.endDateTo.Value.ToString("yyyy-MM-dd"):"")">
                        <button type="button" onclick="document.getElementById('endDateTo').valueAsDate = null">Clear</button>
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Status:</label>
                        <select name="status" style="width:200px; border-radius:5px">
                            @if (Model.status == null)
                            {
                                <option value="" selected>All</option>
                            }
                            else
                            {
                                <option value="">All</option>
                            }
                            @if (Model.status == true)
                            {
                                <option value="true" selected>Active</option>
                            }
                            else
                            {
                                <option value="true">Active</option>
                            }
                            @if (Model.status == false)
                            {
                                <option value="false" selected>Inactive</option>
                            }
                            else
                            {
                                <option value="false">Inactive</option>
                            }
                        </select>
                    </div>
                    <input type="hidden" name="page" id="inputPage" />
                    <button id="searchButton" type="submit" onclick="search(1);" class="btn btn-info" style="margin-left: 150px;"> Search</button>
                </form>
            </div>
        </div>
        <br />
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Account</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Status</th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.staffs)
                    {
                        <tr>
                            <td>
                                @item.fullname
                            </td>
                            <td>
                                @item.email
                            </td>
                            <td>
                                @item.account
                            </td>
                            <td>
                                @(item.startDate.HasValue?item.startDate.Value.ToString("dd-MM-yyyy"):"")
                            </td>
                            <td>
                                @(item.endDate.HasValue?item.endDate.Value.ToString("dd-MM-yyyy"):"")
                            </td>
                            <td>
                                @if (item.status == true)
                                {
                                    @:Active
                                }
                                else
                                {
                                    @:Inactive
                                }
                            </td>
                            <td>
                                <button onclick="editStaff('@item.user_id','@item.fullname','@item.email','@item.account','@ISM.WebApp.Utils.FormatUtil.ToInputDate(item.startDate)','@ISM.WebApp.Utils.FormatUtil.ToInputDate(item.endDate)','@item.status')">
                                    <a style="text-decoration: none;" href="#xmas-popup2">Edit</a>
                                </button>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>


            <!-- popup code -->
            <div id="xmas-popup" class="popup" href="#">
                <div class="popup-content">
                    <form id="createStaffForm" asp-controller="Staff" asp-action="Create" method="post">
                        <h1 style="text-align: center; margin-top: 20px;">Create Staff</h1>
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Full Name:</label>
                            <input name="fullname" type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="create_fullname">
                        </div>
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Email:</label>
                            <input name="email" type="email" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="create_email">
                        </div>
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Account:</label>
                            <input name="account" type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="create_account">
                        </div>
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Start Date:</label>
                            <input name="startDate" type="date" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="create_startDate">
                        </div>
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">End Date:</label>
                            <input name="endDate" type="date" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="create_endDate">
                        </div>
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Status:</label>
                            <select name="status" style="margin-left: 30px;border-radius: 5px;" id="create_status">
                                <option value="True">Active</option>
                                <option value="False">Inactive</option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <button onclick="validateCreateStaff();" style="margin-left: 190px; width: 80px;" type="button" class="btn btn-success">Save</button>
                            <button style="margin-left: 80px;width: 80px;" type="button" class="btn btn-danger"><a style="text-decoration: none; color: white;" href="#">Cancel</a></button>
                        </div>
                    </form>
                </div>
            </div>

            <div id="xmas-popup2" class="popup" href="#">
                <div class="popup-content">
                    <form id="editStaffForm" asp-controller="Staff" asp-action="Edit" method="post">
                        <h1 style="text-align: center; margin-top: 20px;">Edit Staff</h1>
                        <input type="hidden" name="id" id="edit_id" />
                        <input type="hidden" id="edit_originalEmail" />
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Full Name:</label>
                            <input name="fullname" type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_fullname">
                        </div>
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Email:</label>
                            <input name="email" type="email" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_email">
                        </div>
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Account:</label>
                            <input name="account" type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_account" disabled>
                        </div>
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Start Date:</label>
                            <input name="startDate" type="date" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_startDate">
                        </div>
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">End Date:</label>
                            <input name="endDate" type="date" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_endDate">
                        </div>
                        <div class="form-group row">
                            <label style="margin-left: 30px; font-weight: bold; width:100px;">Status:</label>
                            <select name="status" style="margin-left: 30px;border-radius: 5px;" id="edit_status">
                                <option value="True">Active</option>
                                <option value="False">Inactive</option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <button onclick="validateEditStaff();" style="margin-left: 190px; width: 80px;" type="button" class="btn btn-success">Save</button>
                            <button style="margin-left: 80px;width: 80px;" type="button" class="btn btn-danger"><a style="text-decoration: none; color: white;" href="#">Cancel</a></button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div>
            @Html.Raw(ISM.WebApp.Utils.PagingUtils.pager(Model.totalPage, Model.page, 3))
        </div>
    </div>
</div>