@model ISM.WebApp.ViewModels.JobVacancyIndexViewModel
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using ISM.WebApp.Constant;
@using ISM.WebApp.Utils
@{
    var sessionUser = JsonConvert.DeserializeObject<Account>(Context.Session.GetString(LoginConst.SessionKeyName));
    if (sessionUser.role_name == "Degree")
    {
        ViewData["Title"] = "Pre-Approval Visa Page";
        Layout = "~/Views/Shared/_DegreeStudentLayout.cshtml";
    }
    else if (sessionUser.role_name == "Mobility")
    {
        ViewData["Title"] = "Pre-Approval Visa  Page";
        Layout = "~/Views/Shared/_MobilityStudentLayout.cshtml";
    }
}

<h1 style="text-align: center;"> Job Vancacies </h1>
<div style="height:50px">
    <div class="dropdown_search">
        <button onclick="myFunction1()" style="width:80px; border-radius:10px" class="btn btn-primary">Search</button>
        <div id="myDropdown_search" class="dropdown-content_search" style="height: 330px; margin-top: 10px;">
            <form style="width: 320px;" id="searchForm" asp-controller="JobVacancy" asp-action="Index" method="get">
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Job:</label>
                    <input name="job_name" type="text" style="width: 200px; border-radius: 5px;" id="" value="@Model.job_name">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Location:</label>
                    <input name="job_location" type="text" style="width: 200px; border-radius: 5px;" id="" value="@Model.job_location">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Employment Type:</label>
                    <input name="employment_type" type="text" style="width: 200px; border-radius: 5px;" id="" value="@Model.employment_type">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Content:</label>
                    <input name="content" type="text" style="width: 200px; border-radius: 5px;" id="" value="@Model.content">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Deadline for Apply:</label>
                    <input name="deadline" type="date" style="width: 200px; border-radius: 5px;" id="" value="@(Model.deadline.HasValue?Model.deadline.Value.ToString("yyyy-MMM-dd"):"")">
                </div>
                <input type="hidden" name="page" id="inputPage">
                <button id="searchBtn" type="submit" onclick="search(1);" class="btn btn-info" style="margin-left: 150px;">Search</button>
            </form>
        </div>
    </div>   
</div>
<br>
<br>
<div class="table-scroll">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Job</th>
                <th scope="col">Location</th>
                <th scope="col">Employment Type</th>
                <th scope="col">Content</th>
                <th scope="col">Deadline for Apply</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.jobVacancies)
            {
                <tr>
                    <td>
                        @item.job_name
                    </td>
                    <td>
                        @item.job_location
                    </td>
                    <td>
                        @item.employment_type
                    </td>
                    <td>
                        @item.content
                    </td>
                    <td>
                        @item.deadline.ToString("yyyy-MMM-dd")
                    </td>                  
                </tr>
            }
    </table>
</div>

<div>
    @Html.Raw(ISM.WebApp.Utils.PagingUtils.pager(Model.totalPage, Model.page, 3))
</div>

<script>
    function myFunction1() {
        document.getElementById("myDropdown_search").classList.toggle("show_search_jobVacancy");
    }
    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown_search");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }
</script>
@*</div>*@