@model ISM.WebApp.ViewModels.ContactInformationIndexViewModel;
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using ISM.WebApp.Constant;
@{
    var sessionUser = JsonConvert.DeserializeObject<Account>(Context.Session.GetString(LoginConst.SessionKeyName));
    if (sessionUser.role_name == "Admin")
    {
        ViewData["Title"] = "Contact Information Page";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (sessionUser.role_name == "Staff")
    {
        ViewData["Title"] = "Contact Information Page";
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
}
<h1 style="text-align: center;"> Contact Information </h1>
@if (sessionUser.role_name.Equals("Admin"))
{
    <div style="height:50px">
        <div class="dropdown_search">
            <button type="button" onclick="myFunction1()" style="width:80px; border-radius:10px" class="btn btn-primary">Search</button>
            <div id="myDropdown_search" class="dropdown-content_search" style="height: 350px; margin-top: 10px;">
                <form style="width: 320px;" id="searchForm" asp-controller="ContactInformation" asp-action="Index" method="get">
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Name:</label>
                        <input maxlength="100" name="staff_name" type="text" style="width: 200px; border-radius: 5px;" value="@Model.staff_name">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Account:</label>
                        <input maxlength="30" name="staff_account" type="text" style="width: 200px; border-radius: 5px;" value="@Model.staff_account">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Email:</label>
                        <input maxlength="250" name="staff_email" type="text" style="width: 200px; border-radius: 5px;" value="@Model.staff_email">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Telephone:</label>
                        <input maxlength="20" name="telephone" type="text" style="width: 200px; border-radius: 5px;" value="@Model.telephone">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Position:</label>
                        <input maxlength="250" name="position" type="text" style="width: 200px; border-radius: 5px;" value="@Model.position">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Status:</label>
                        <select name="status" style="width:200px; border-radius:5px">
                            @if (Model.status == null)
                            {
                                <option value="" selected>All</option>
                            }
                            else
                            {
                                <option value="">All</option>
                            }
                            @if (Model.status == true)
                            {
                                <option value="True" selected>Active</option>
                            }
                            else
                            {
                                <option value="True">Active</option>
                            }
                            @if (Model.status == false)
                            {
                                <option value="False" selected>Inactive</option>
                            }
                            else
                            {
                                <option value="False">Inactive</option>
                            }
                        </select>
                    </div>
                    <input type="hidden" name="page" id="inputPage" />
                    <button id="searchButton" type="submit" onclick="disableButton('searchButton'); search(1);" class="btn btn-info" style="margin-left: 150px;"> Search</button>
                </form>
            </div>
        </div>
        <button type="button" onclick="showPopup('xmas-popup-assign')" style="float: right; width:auto; border-radius:10px;" class="btn btn-success">
            My Contact Information
        </button>
    </div>
}
<br>
<br>
@if (sessionUser.role_name.Equals("Admin"))
{
    <div id="overlay"></div>
    <div class="table-scroll">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Account</th>
                    <th scope="col">Status</th>
                    <th scope="col">Telephone</th>
                    <th scope="col">Picture</th>
                    <th scope="col">Position</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.contactList)
                {
                    <tr>
                        <td>
                            @item.staff_name
                        </td>
                        <td>
                            @item.staff_email
                        </td>
                        <td>
                            @item.staff_account
                        </td>
                        <td>
                            @if (item.staff_status == true)
                            {
                                @:Active
                            }
                            else
                            {
                                @:Inactive
                            }
                        </td>
                        <td>
                            @item.staff_telephone
                        </td>
                        <td style="text-align: center;">
                            @if (!String.IsNullOrEmpty(item.picture))
                            {
                                <img src="~/image/ContactInformation/@item.picture" style="width: 50px; height: 50px;" asp-append-version="true">
                            }
                        </td>
                        <td>
                            @item.staff_position
                        </td>
                    </tr>
                }
        </table>
    </div>
    <div>
        @Html.Raw(ISM.WebApp.Utils.PagingUtils.pager(Model.totalPage, Model.page, 3))
    </div>
}
else
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                @if (!String.IsNullOrEmpty(Model.contact.picture))
                { 
                    <img src="~/image/ContactInformation/@Model.contact.picture" class="rounded float-left" style="width: 300px; height: 300px;" asp-append-version="true">
                }
            </div>
            <div class="col-md-8">
                <form>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Name:</label>
                        <input maxlength="100" type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="contact_infor_name_staff_show" value="@Model.contact.staff_name" disabled>
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Email:</label>
                        <input maxlength="250" type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="contact_infor_email_staff_show" value="@Model.contact.staff_email" disabled>
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Account:</label>
                        <input maxlength="30" type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="contact_infor_account_staff_show" value="@Model.contact.staff_account" disabled>
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Telephone:</label>
                        <input maxlength="20" type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="contact_infor_telephone_staff_show" value="@(!String.IsNullOrEmpty(Model.contact.staff_telephone)?Model.contact.staff_telephone:"")" disabled>
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Position:</label>
                        <input maxlength="250" type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="contact_infor_position_staff_show" value="@(!String.IsNullOrEmpty(Model.contact.staff_position)?Model.contact.staff_position:"")" disabled>
                    </div>
                    <div class="form-group row">
                        <div style="margin-left: 260px;">
                            <button type="button" onclick="showPopup('xmas-popup-assign1')" style="width: 80px; border-radius: 10px;" class="btn btn-info">
                                Edit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}


<div id="xmas-popup-assign1" class="popup">
    <div class="popup-content-assign1" style="height:500px; width:900px">
        <div class="row">
            <div class="col-md-5">
                @if (!String.IsNullOrEmpty(Model.contact.picture))
                { 
                    <img src="~/image/ContactInformation/@Model.contact.picture" class="rounded float-left" style="width: 300px; height: 300px; margin-top:100px;margin-left:60px" asp-append-version="true">
                }
            </div>
            <div class="col-md-7">
                <form asp-controller="ContactInformation" asp-action="CreateOrEdit" method="post" enctype="multipart/form-data">
                    <h1 style="text-align: center; margin-top: 20px;margin-bottom: 50px;">Contact Information</h1>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Name:</label>
                        <input maxlength="100" type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="contact_infor_name_staff" value="@Model.contact.staff_name" disabled>
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Email:</label>
                        <input maxlength="250" type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="contact_infor_email_staff" value="@Model.contact.staff_email" disabled>
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Account:</label>
                        <input maxlength="30" type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="contact_infor_account_staff" value="@Model.contact.staff_account" disabled>
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Telephone:</label>
                        <input maxlength="20" type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="contact_infor_telephone_staff" value="@(!String.IsNullOrEmpty(Model.contact.staff_telephone)?Model.contact.staff_telephone:"")">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Position:</label>
                        <input maxlength="250" type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="contact_infor_position_staff" value="@(!String.IsNullOrEmpty(Model.contact.staff_position)?Model.contact.staff_position:"")">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Picture:</label>
                        <input type="file" style="width: 300px;margin-left:30px; border-radius: 5px;" id="contact_information_picture_staff" value="Choose a picture" accept=".jpg,.jpeg,.png">
                    </div>
                    <div class="form-group row">
                        <button onclick="disableButton('save_edit'); validateCreateOrEditStaff('@sessionUser.user_id');" id="save_edit" style="margin-left: 190px; width: 80px;" type="button" class="btn btn-success">
                            Save
                        </button>
                        <button onclick="hidePopup('xmas-popup-assign1');" id="cancel" style="margin-left: 80px;width: 80px;" type="button" class="btn btn-danger">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div id="xmas-popup-assign" class="popup">
    <div class="popup-content-assign" style="height:500px; width:900px">
        <div class="row">
            <div class="col-md-5">
                @if (!String.IsNullOrEmpty(Model.contact.picture))
                { 
                    <img src="~/image/ContactInformation/@Model.contact.picture" class="rounded float-left" style="width: 300px; height: 300px; margin-top:100px;margin-left:60px" asp-append-version="true">
                }
            </div>
            <div class="col-md-7">
                <form asp-controller="ContactInformation" asp-action="CreateOrEdit" method="post" enctype="multipart/form-data">
                    <h1 style="text-align: center; margin-top: 20px;margin-bottom: 50px;">Contact Information</h1>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Name:</label>
                        <input maxlength="100" type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="contact_infor_name" value="@Model.contact.staff_name" disabled>
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Email:</label>
                        <input maxlength="250" type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="contact_infor_email" value="@Model.contact.staff_email" disabled>
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Account:</label>
                        <input maxlength="30" type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="contact_infor_account" value="@Model.contact.staff_account" disabled>
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Telephone:</label>
                        <input maxlength="20" type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="contact_infor_phone" value="@(!String.IsNullOrEmpty(Model.contact.staff_telephone)?Model.contact.staff_telephone:"")">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Position:</label>
                        <input maxlength="250" type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="contact_infor_position" value="@(!String.IsNullOrEmpty(Model.contact.staff_position)?Model.contact.staff_position:"")">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Picture:</label>
                        <input type="file" style="width: 300px;margin-left:30px; border-radius: 5px;" id="contact_information_picture_admin" value="Choose a picture" accept=".jpg,.jpeg,.png">
                    </div>
                    <div class="form-group row">
                        <button onclick="disableButton('save_create'); validateCreateOrEditAdmin('@sessionUser.user_id');" id="save_create" style="margin-left: 190px; width: 80px;" type="button" class="btn btn-success">
                            Save
                        </button>
                        <button onclick="hidePopup('xmas-popup-assign')" id="cancel" style="margin-left: 80px;width: 80px;" type="button" class="btn btn-danger">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function myFunction1() {
        document.getElementById("myDropdown_search").classList.toggle("show_search_contact_information");
    }
    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown_search");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }
</script>