@model ISM.WebApp.ViewModels.StudentIndexViewModel
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using ISM.WebApp.Constant;
@using ISM.WebApp.Utils
@{
    var sessionUser = JsonConvert.DeserializeObject<Account>(Context.Session.GetString(LoginConst.SessionKeyName));
    if (sessionUser.role_name == "Admin")
    {
        ViewData["Title"] = "Student Information Page";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (sessionUser.role_name == "Staff")
    {
        ViewData["Title"] = "Student Information Page";
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
}
<h1 style="text-align: center;">Student Information</h1>
<div style="height: 50px;">
    <div class="dropdown_search">
        <button onclick="myFunction1()"style="width:80px; border-radius:10px"  class="btn btn-primary">Search</button>
        <div id="myDropdown_search" class="dropdown-content_search" style="height:450px">
            <form style="width: 320px;" id="searchForm" asp-controller="Student" asp-action="Index" method="get">
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Name:</label>
                    <input type="text" name="fullname" style="width: 200px; border-radius: 5px;" id="" value="@Model.fullname">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Account:</label>
                    <input type="text" name="account" style="width: 200px; border-radius: 5px;" id="" value="@Model.account">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Email:</label>
                    <input type="text" name="email" style="width: 200px; border-radius: 5px;" id="" value="@Model.email">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Nationality:</label>
                    <input type="text" name="nationality" style="width: 200px; border-radius: 5px;" id="" value="@Model.nationality">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">DOB:</label>
                    <input type="date" name="dob" style="width: 200px; border-radius: 5px;" id="" value="@(Model.dob.HasValue?Model.dob.Value.ToString("yyyy-MM-dd"):"")">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Gender:</label>
                    <select name="gender" class="fomr-control" style="border-radius: 5px; width: 200px;">
                        @if (Model.gender == null)
                        {
                            <option value="" selected>All</option>
                            <option value="true">Male</option>
                            <option value="false">Female</option>
                        }
                        else if (Model.gender == true)
                        {
                            <option value="">All</option>
                            <option value="true" selected>Male</option>
                            <option value="false">Female</option>
                        }
                        else
                        {
                            <option value="">All</option>
                            <option value="true">Male</option>
                            <option value="false" selected>Female</option>
                        }
                    </select>
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Program:</label>
                    <select name="program_id" class="fomr-control" style="border-radius: 5px; width: 200px;">
                        @if (Model.program_id == null)
                        {
                            <option value="" selected>All</option>
                        }
                        else
                        {
                            <option value="">All</option>
                        }
                        @for (int i = 0; i < Model.programList.Count; i++)
                        {
                            if (Model.programList[i].programm_id == Model.program_id)
                            {
                                <option value="@Model.programList[i].programm_id" selected>@Model.programList[i].program_name</option>
                            }
                            else
                            {
                                <option value="@Model.programList[i].programm_id">@Model.programList[i].program_name</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Campus:</label>
                    <select name="campus_id" class="fomr-control" style="border-radius: 5px; width: 200px;">
                        @if (Model.campus_id == null)
                        {
                            <option value="" selected>All</option>
                        }
                        else
                        {
                            <option value="">All</option>
                        }
                        @for (int i = 0; i < Model.campusList.Count; i++)
                        {
                            if (Model.campusList[i].campus_id == Model.campus_id)
                            {
                                <option value="@Model.campusList[i].campus_id" selected>@Model.campusList[i].campus_name</option>
                            }
                            else
                            {
                                <option value="@Model.campusList[i].campus_id">@Model.campusList[i].campus_name</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">
                        Emergency
                        Contact:
                    </label>
                    <input type="text" name="emergency_contact" style="width: 200px; border-radius: 5px;" id="" value="@Model.emergency_contact">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Status:</label>
                    <select name="status" class="fomr-control" style="border-radius: 5px; width: 200px;">
                        @if (Model.status == null)
                        {
                            <option value="" selected>All</option>
                            <option value="true">Active</option>
                            <option value="false">Inactive</option>
                        }
                        else if (Model.status == true)
                        {
                            <option value="">All</option>
                            <option value="true" selected>Active</option>
                            <option value="false">Inactive</option>
                        }
                        else if (Model.status == false)
                        {
                            <option value="">All</option>
                            <option value="true">Active</option>
                            <option value="false" selected>Inactive</option>
                        }
                    </select>
                </div>
                <select name="degreeOrMobility" id="search_degreeOrMobility" style="width:150px; margin-left:40%; display:none;">
                    @if (Model.degreeOrMobility.Equals("Degree"))
                    {
                        <option value="Degree" selected>Degree Student</option>
                        <option value="Mobility">Mobility Student</option>
                    }
                    else
                    {
                        <option value="Degree">Degree Student</option>
                        <option value="Mobility" selected>Mobility Student</option>
                    }
                </select>
                <input type="hidden" name="page" id="inputPage" />
                <button id="searchButton" type="submit" onclick="search(1);" class="btn btn-info" style="margin-left: 150px;"> Search</button>
            </form>
        </div>
    </div>

    <select onchange="searchDegreeOrMobility()" id="outside_degreeOrMobility" style="text-align: center; margin-left: 35%; border-radius: 5px;">
        @if (Model.degreeOrMobility.Equals("Degree"))
        {
            <option value="Degree" selected>Degree Student</option>
            <option value="Mobility">Mobility Student</option>
        }
        else
        {
            <option value="Degree">Degree Student</option>
            <option value="Mobility" selected>Mobility Student</option>
        }
    </select>
    <button onclick="showPopup('xmas-popup')" style="float: right;width:80px; border-radius:10px" class="btn btn-success">
        Create
    </button>

</div>
<br>
<br>
<div class="table-scroll">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Account</th>
                <th scope="col">Email</th>
                <th scope="col">Nationality</th>
                <th scope="col">DOB</th>
                <th scope="col">Gender</th>
                <th scope="col">Program</th>
                <th scope="col">Campus</th>
                <th scope="col">Emergency Contact</th>
                @if (Model.degreeOrMobility.Equals("Mobility"))
                {
                    <th scope="col">Home University</th>
                }
                <th scope="col">Program Duration</th>
                <th scope="col">Accommodation</th>
                <th scope="col">Status</th>
                <th scope="col"> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.students)
            {
                <tr>
                    <td>
                        @item.fullname
                    </td>
                    <td>
                        @item.account
                    </td>
                    <td>
                        @item.email
                    </td>
                    <td>
                        @item.nationality
                    </td>
                    <td>
                        @(item.dob.HasValue?item.dob.Value.ToString("dd-MM-yyyy"):"")
                    </td>
                    <td>
                        @if (item.gender == true)
                        {
                            @:Male
                        }
                        else if (item.gender == false)
                        {
                            @:Female
                        }
                        else
                        {

                        }
                    </td>
                    <td>
                        @item.program
                    </td>
                    <td>
                        @item.campus
                    </td>
                    <td>
                        @item.emergency_contact
                    </td>
                    @if (Model.degreeOrMobility.Equals("Mobility"))
                    {
                        <td>
                            @item.home_univercity
                        </td>
                    }
                    <td>
                        @(item.program_duration_start.ToString("dd/MM/yyyy")+" - "+ (item.program_duration_end.ToString("dd/MM/yyyy")))
                    </td>
                    <td>
                        @item.accomodation
                    </td>
                    <td>
                        @if (item.status == true)
                        {
                            @:Active
                        }
                        else
                        {
                            @:Inactive
                        }
                    </td>
                    <td style="text-align: center;">
                        <button style="width:80px; border-radius:10px"  onclick="editStudent('@item.user_id', '@item.fullname', '@item.email', '@item.account', '@item.studentGroup_id', '@item.status');showPopup('xmas-popup-assign')" class="btn btn-info">
                            Edit
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- popup code -->
    <div id="xmas-popup" class="popup" href="#">
        <div class="popup-content" style="height:370px">
            <form id="createStudentForm">
                <h1 style="text-align: center;">Create Student</h1>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Fullname:</label>
                    <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="create_fullname">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Account:</label>
                    <input type="email" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="create_account">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Email:</label>
                    <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="create_email">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Student Group:</label>
                    <select style="margin-left: 30px;border-radius: 5px; width: 300px;" id="create_student_group">
                        @foreach (var item in Model.manageGroup)
                        {
                            if (Model.degreeOrMobility.Equals("Degree"))
                            {
                                <option value="@item.studentGroup_id"> @(item.program_name + "_" + item.campus_name + "_" + item.duration_start.ToString("dd/MM/yyyy") + "-" + item.duration_end.ToString("dd/MM/yyyy")) </option>
                            }
                            else if (Model.degreeOrMobility.Equals("Mobility"))
                            {
                                <option value="@item.studentGroup_id"> @(item.program_name + "_" + item.campus_name + "_" + item.duration_start.ToString("dd/MM/yyyy") + "-" + item.duration_end.ToString("dd/MM/yyyy")+"_"+item.home_university) </option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Status:</label>
                    <select style="margin-left: 30px;border-radius: 5px; width: 300px;" id="create_status">
                        <option value="true">Active</option>
                        <option value="false">Inactive</option>
                    </select>
                </div>
                <div class="form-group row">
                    <button onclick="validateCreateStudent('@Model.degreeOrMobility');" style="margin-left: 190px; width: 80px;" type="button"
                            class="btn btn-success" id="save">
                        Save
                    </button>
                    <button onclick="hidePopup('xmas-popup')" style="margin-left: 80px;width: 80px;" type="button" class="btn btn-danger" id="cancel">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div id="xmas-popup-assign" class="popup" href="#">
        <div class="popup-content-assign" style="height:370px">
            <form id="editStudentForm" asp-controller="Student" asp-action="Edit" method="post">
                <h1 style="text-align: center;">Edit Student</h1>
                <input type="hidden" id="edit_id" />
                <input type="hidden" id="edit_originalEmail" />
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Fullname:</label>
                    <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_fullname">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Account:</label>
                    <input type="email" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_account" disabled>
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Email:</label>
                    <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_email">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Student Group:</label>
                    <select style="margin-left: 30px;border-radius: 5px; width: 300px;" id="edit_student_group" disabled>
                        @foreach (var item in Model.manageGroup)
                        {
                            if (Model.degreeOrMobility.Equals("Degree"))
                            {
                                <option value="@item.studentGroup_id"> @(item.program_name + "_" + item.campus_name + "_" + item.duration_start.ToString("dd/MM/yyyy") + "-" + item.duration_end.ToString("dd/MM/yyyy")) </option>
                            }
                            else if (Model.degreeOrMobility.Equals("Mobility"))
                            {
                                <option value="@item.studentGroup_id"> @(item.program_name + "_" + item.campus_name + "_" + item.duration_start.ToString("dd/MM/yyyy") + "-" + item.duration_end.ToString("dd/MM/yyyy")+"_"+item.home_university) </option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Status:</label>
                    <select name="status" style="margin-left: 30px;border-radius: 5px;" id="edit_status_student">
                        <option value="True">Active</option>
                        <option value="False">Inactive</option>
                    </select>
                </div>
                <div class="form-group row">
                    <button onclick="validateEditStudent();" style="margin-left: 190px; width: 80px;" type="button"
                            class="btn btn-success" id="save">
                        Save
                    </button>
                    <button onclick="hidePopup('xmas-popup-assign')" style="margin-left: 80px;width: 80px;" type="button" class="btn btn-danger" id="cancel">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div style="margin-top: 20px;">
    <button class="btn btn-success" style="float: right;">
        <a style="text-decoration: none; color: white;" href="/Student/ExportToExcel">Extract to Excel</a>
    </button>
</div>
<div>
    @Html.Raw(ISM.WebApp.Utils.PagingUtils.pager(Model.totalPage, Model.page, 3))
</div>