@model ISM.WebApp.ViewModels.OrientationIndexViewModel
@{
    ViewData["Title"] = "Orientation Schedule Page";
    Layout = "~/Views/Shared/_DegreeStudentLayout.cshtml";
}

<h1 style="text-align: center;"> Orientation Schedule</h1>
<div style="height:50px">
    <div class="dropdown_search">
        <button onclick="myFunction1()" style="width:80px; border-radius:10px" class="btn btn-primary">Search</button>
        <div id="myDropdown_search" class="dropdown-content_search" style="height: 320px; margin-top: 10px;">
            <form style="width: 320px;" id="searchForm" asp-controller="Orientation" asp-action="StudentOrientation" method="get">
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Content:</label>
                    <input maxlength="250" name="content" type="text" style="width: 200px; border-radius: 5px;" id="" value="@Model.content">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Date:</label>
                    <input name="date" type="date" style="width: 200px; border-radius: 5px;" id="" value="@(Model.date.HasValue?Model.date.Value.ToString("yyyy-MM-dd"):"")">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Time:</label>
                    <input name="time" type="time" style="width: 200px; border-radius: 5px;" id="" value="@(Model.time.HasValue?Model.time.Value.ToString(@"hh\:mm\:ss"):"")">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Location:</label>
                    <input maxlength="250" name="location" type="text" style="width: 200px; border-radius: 5px;" id="" value="@Model.location">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Requirement for Student:</label>
                    <input maxlength="250" name="require_document" type="text" style="width: 200px; border-radius: 5px;" id="" value="@Model.require_document">
                </div>
                <input type="hidden" name="page" id="inputPage">
                <button id="searchBtn" type="submit" onclick="search(1);" class="btn btn-info" style="margin-left: 150px;">Search</button>
            </form>
        </div>
    </div>
</div>
<br>
<br>
<div class="table-scroll">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Content</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Location</th>
                <th scope="col">Requirement for Student</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.orientationSchedules)
            {
                <tr>
                    <td>
                        @item.content
                    </td>
                    <td>
                        @item.date.ToString("yyyy-MMM-dd")
                    </td>
                    <td>
                        @item.time.ToString(@"hh\:mm\:ss")
                    </td>
                    <td>
                        @item.location
                    </td>
                    <td>
                        @item.require_document
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    @Html.Raw(ISM.WebApp.Utils.PagingUtils.pager(Model.totalPage, Model.page, 3))
</div>

<script>function myFunction1() {
        document.getElementById("myDropdown_search").classList.toggle("show_search_orientation_schedule_student");
    }
    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown_search");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }</script>