@model ISM.WebApp.ViewModels.InformationIndexViewModel;
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using ISM.WebApp.Constant;
@using ISM.WebApp.Utils
@{
    var sessionUser = JsonConvert.DeserializeObject<Account>(Context.Session.GetString(LoginConst.SessionKeyName));
    if (sessionUser.role_name == "Admin")
    {
        ViewData["Title"] = "My Information Page";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (sessionUser.role_name == "Staff")
    {
        ViewData["Title"] = "My Information Page";
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
}
<h1 style="text-align: center; margin-bottom: 50px;">My Information</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="images/lon.jpg" class="rounded float-left" style="width: 300px; height: 300px;">
            <div class="form-group">
                <input type="file" class="form-control-file" style="width: 300px;">
            </div>
        </div>
        <div class="col-md-8">
            <form>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Full Name:</label>
                    <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="profile_fullname_id" value="@Model.user.fullname">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Nationality:</label>
                    <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="profile_nationality_id" value="@Model.user.nationality">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Date of Birth:</label>
                    <input type="date" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="profile_dob_id" value="@ISM.WebApp.Utils.FormatUtil.ToInputDate(Model.user.dob)">
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Gender:</label>
                    <select style="width: 300px; margin-left: 30px; border-radius: 5px;" id="profile_gender_id">
                        @if (Model.user.gender == null)
                        {
                            <option value="" selected>All</option>
                            <option value="true">Male</option>
                            <option value="false">Female</option>
                        }
                        else if (Model.user.gender == true)
                        {
                            <option value="">All</option>
                            <option value="true" selected>Male</option>
                            <option value="false">Female</option>
                        }
                        else
                        {
                            <option value="">All</option>
                            <option value="true">Male</option>
                            <option value="false" selected>Female</option>
                        }
                    </select>
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Emergency Contact:</label>
                    <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="profile_contact_id" value="@Model.user.emergency_contact">
                </div>
                <div class="form-group row">
                    <button onclick="showPopup('xmas-popup')" class="btn btn-danger" style="margin-left: 160px;">
                        Change Password
                    </button>
                    <div class="btn-group" style="margin-left: 70px;">
                        <button onclick="validateSaveInformation('@sessionUser.user_id');" style="width: 80px; border-radius: 10px;" class="btn btn-success">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- popup code -->
<div id="xmas-popup" class="popup" href="#">
    <div class="popup-content" style="height:450px">
        <form>
            <h1 style="text-align: center; margin-bottom: 50px;">Change Password</h1>
            <div class="form-group row">
                <label style="margin-left: 30px; font-weight: bold; width:100px;">Current Password:</label>
                <input type="password" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_current_password">
            </div>
            <div class="form-group row">
                <label style="margin-left: 30px; font-weight: bold; width:100px;">New Password:</label>
                <input type="password" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_new_password">
            </div>
            <div class="form-group row">
                <label style="margin-left: 30px; font-weight: bold; width:100px;">Confirm New Password:</label>
                <input type="password" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_confirm_new_password">
            </div>
            <div class="form-group row" style="margin-top: 50px;">
                <button id="save" onclick="validateChangePassword('@sessionUser.user_id');" style="margin-left: 190px; width: 80px;" type="button" class="btn btn-success">Save</button>
                <button id="cancel" onclick="hidePopup('xmas-popup')" style="margin-left: 80px;width: 80px;" type="button" class="btn btn-danger">
                   Cancel
                </button>
            </div>
        </form>
    </div>
</div>


