@model ISM.WebApp.ViewModels.InformationIndexViewModel;
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using ISM.WebApp.Constant;
@{
    var sessionUser = JsonConvert.DeserializeObject<Account>(Context.Session.GetString(LoginConst.SessionKeyName));
    if (sessionUser.role_name == "Admin")
    {
        ViewData["Title"] = "My Information Page";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (sessionUser.role_name == "Staff")
    {
        ViewData["Title"] = "My Information Page";
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
    else if (sessionUser.role_name == "Degree")
    {
        ViewData["Title"] = "My Information Page";
        Layout = "~/Views/Shared/_DegreeStudentLayout.cshtml";
    }
    else if (sessionUser.role_name == "Mobility")
    {
        ViewData["Title"] = "My Information Page";
        Layout = "~/Views/Shared/_MobilityStudentLayout.cshtml";
    }
}

<h1 style="text-align: center; margin-bottom: 50px;">My Information</h1>
@if (sessionUser.isFirstLoggedIn == true)
{ 
    <h1 style="text-align: center; margin-bottom: 50px; color: red; font-weight: bold;">PLEASE CHANGE YOUR PASSWORD AND UPDATE YOUR INFORMATION!</h1>
}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="~/image/Profile/@Model.user.picture" class="rounded float-left" style="width: 300px; height: 300px;" asp-append-version="true">
        </div>
        <div class="col-md-8">
            <form id="profile_form_id" enctype="multipart/form-data" asp-controller="Information" asp-action="Index" method="post">
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Full Name:</label>
                    <input maxlength="100" type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="profile_fullname_id_show" value="@Model.user.fullname"  readonly>
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Nationality:</label>
                    <input maxlength="250" type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="profile_nationality_id_show" value="@Model.user.nationality"  readonly>
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Date of Birth:</label>
                    <input type="date" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="profile_dob_id_show" value="@ISM.WebApp.Utils.FormatUtil.ToInputDate(Model.user.dob)"  readonly>
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Gender:</label>
                    <select style="width: 300px; margin-left: 30px; border-radius: 5px;" id="profile_gender_id_show"  readonly>
                        @if (Model.user.gender == null)
                        {
                            <option value="" selected>All</option>
                            <option value="True">Male</option>
                            <option value="False">Female</option>
                        }
                        else if (Model.user.gender == true)
                        {
                            <option value="">All</option>
                            <option value="True" selected>Male</option>
                            <option value="False">Female</option>
                        }
                        else
                        {
                            <option value="">All</option>
                            <option value="True">Male</option>
                            <option value="False" selected>Female</option>
                        }
                    </select>
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Emergency Contact:</label>
                    <input maxlength="250" type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="profile_contact_id_show" value="@Model.user.emergency_contact"  readonly>
                </div>
                <div class="form-group row">
                    <button onclick="showPopup('xmas-popup');" class="btn btn-success" style="margin-left: 160px; border-radius:10px;width:150px" type="button">
                        Change Password
                    </button>
                    <button onclick="showPopup('xmas-popup-assign')" style="border-radius: 10px; width: 150px; margin-left:10px" class="btn btn-info" type="button">
                        Edit Information
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- popup code -->
<div id="xmas-popup" class="popup">
    <div class="popup-content" style="height:410px">
        <form id="change_password_form" asp-controller="Information" asp-action="UpdatePassword" method="post">
            <h1 style="text-align: center; margin-bottom: 50px;">Change Password</h1>
            <div class="form-group row">
                <label style="margin-left: 30px; font-weight: bold; width:100px;">Current Password:</label>
                <input maxlength="30" type="password" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_current_password">
            </div>
            <div class="form-group row">
                <label style="margin-left: 30px; font-weight: bold; width:100px;">New Password:</label>
                <input maxlength="40" type="password" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_new_password">
            </div>
            <div class="form-group row">
                <label style="margin-left: 30px; font-weight: bold; width:100px;">Confirm New Password:</label>
                <input maxlength="40" type="password" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_confirm_new_password">
            </div>
            <div class="form-group row" style="margin-top: 50px;">
                <button id="save_create" onclick="disableButton('save_create'); validateChangePassword('@sessionUser.user_id');" style="width: 80px;" type="button" class="btn btn-success">Save</button>
                <button onclick="hidePopup('xmas-popup');" id="cancel" style="width: 80px;" type="button" class="btn btn-danger">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>
<div id="xmas-popup-assign" class="popup">
    <div id="responsive" class="popup-content-assign" style="height:450px; width:900px;">
        <div class="row">
            <div class="col-md-5">
                <img src="~/image/Profile/@Model.user.picture" class="rounded float-left" style="width: 300px; height: 300px; margin-left:60px;margin-top:60px" asp-append-version="true">
            </div>
            <div class="col-md-7">
                <form id="profile_form_id" enctype="multipart/form-data" asp-controller="Information" asp-action="SaveProfile" method="post">
                    <div class="form-group row" style="margin-top:50px">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Full Name:</label>
                        <input maxlength="100" type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="profile_fullname_id" value="@Model.user.fullname">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Nationality:</label>
                        <input maxlength="250" type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="profile_nationality_id" value="@Model.user.nationality">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Date of Birth:</label>
                        <input type="date" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="profile_dob_id" value="@ISM.WebApp.Utils.FormatUtil.ToInputDate(Model.user.dob)">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Gender:</label>
                        <select style="width: 300px; margin-left: 30px; border-radius: 5px;" id="profile_gender_id">
                            @if (Model.user.gender == null)
                            {
                                <option value="True">Male</option>
                                <option value="False">Female</option>
                            }
                            else if (Model.user.gender == true)
                            {
                                <option value="True" selected>Male</option>
                                <option value="False">Female</option>
                            }
                            else
                            {
                                <option value="True">Male</option>
                                <option value="False" selected>Female</option>
                            }
                        </select>
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Emergency Contact:</label>
                        <input maxlength="250" type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="profile_contact_id" value="@Model.user.emergency_contact">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Picture:</label>
                        <input type="file" style="width: 300px;margin-left:30px; border-radius: 5px;" id="profile_picture_id" value="Choose a picture" accept=".jpg,.jpeg,.png">
                    </div>
                    <div class="form-group row">
                        <button onclick="disableButton('save_edit'); validateSaveInformation('@sessionUser.user_id');" id="save_edit" style="margin-left: 190px; width: 80px;" type="button" class="btn btn-success">
                            Save
                        </button>
                        <button onclick="hidePopup('xmas-popup-assign')" id="cancel" style="margin-left: 80px;width: 80px;" type="button" class="btn btn-danger">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>