@model ISM.WebApp.ViewModels.InsuranceIndexViewModel
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using ISM.WebApp.Constant;
@{
    var sessionUser = JsonConvert.DeserializeObject<Account>(Context.Session.GetString(LoginConst.SessionKeyName));
    if (sessionUser.role_name == "Degree")
    {
        ViewData["Title"] = "Pre-Approval Visa Page";
        Layout = "~/Views/Shared/_DegreeStudentLayout.cshtml";
    }
    else if (sessionUser.role_name == "Mobility")
    {
        ViewData["Title"] = "Pre-Approval Visa  Page";
        Layout = "~/Views/Shared/_MobilityStudentLayout.cshtml";
    }
}

<h1 style="text-align:center">My Insurance</h1>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="~/image/Insurance/@Model.studentInsurance.picture" class="rounded float-left" style="width: 300px; height: 300px;" asp-append-version="true">
        </div>
        <div class="col-md-8">
            <form>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Account:</label>
                    <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" value="@Model.studentInsurance.account" disabled>
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Full Name:</label>
                    <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" value="@Model.studentInsurance.fullname" disabled>
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Start Date:</label>
                    <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" value="@(Model.studentInsurance.start_date.HasValue?Model.studentInsurance.start_date.Value.ToString("dd-MM-yyyy"):"")" disabled>
                </div>
                <div class="form-group row">
                    <label style="margin-left: 30px; font-weight: bold; width:100px;">Expiry Date:</label>
                    <input type="text" style="width: 300px; margin-left: 30px; border-radius: 5px;" value="@(Model.studentInsurance.expiry_date.HasValue?Model.studentInsurance.expiry_date.Value.ToString("dd-MM-yyyy"):"")" disabled>
                </div>
                <div class="form-group row">
                    <button id="save_create" type="button" onclick="showPopup('xmas-popup')" style="border-radius: 10px; width: 80px; margin-left:270px" class="btn btn-info">
                        Edit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<button id="insurance_btn_skip" type="button" onclick="disableButton('insurance_btn_skip'); skipNotificationInsurance('@sessionUser.user_id');" style="border-radius: 10px; width: auto; float:right" class="btn btn-danger">Skip Notification</button>

<div id="xmas-popup" class="popup">
    <div id="responsive" class="popup-content" style="height:420px; width:900px">
        <div class="row">
            <div class="col-md-5">
                <img src="~/image/Insurance/@Model.studentInsurance.picture" class="rounded float-left" style="width: 300px; height: 300px; margin-left:60px;margin-top:60px" asp-append-version="true">
            </div>
            <div class="col-md-7">
                <form enctype="multipart/form-data" style="margin-top:50px">
                    <input type="hidden" id="edit_student_id" value="@Model.studentInsurance.student_id" />
                    <input type="hidden" id="edit_insurance_id" value="@Model.studentInsurance.insurance_id" />                 
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Start Date:</label>
                        <input type="date" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_start_date" value="@(Model.studentInsurance.start_date.HasValue?Model.studentInsurance.start_date.Value.ToString("yyyy-MM-dd"):"")">
                    </div>
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Expiry Date:</label>
                        <input type="date" style="width: 300px; margin-left: 30px; border-radius: 5px;" id="edit_expiry_date" value="@(Model.studentInsurance.expiry_date.HasValue?Model.studentInsurance.expiry_date.Value.ToString("yyyy-MM-dd"):"")">
                    </div>                  
                    <div class="form-group row">
                        <label style="margin-left: 30px; font-weight: bold; width:100px;">Picture:</label>
                        <input type="file" style="width: 300px;margin-left:30px; border-radius: 5px;" id="edit_picture" value="Choose a picture" accept=".jpg,.jpeg,.png">
                    </div>
                    <div class="form-group row">
                        <button onclick="disableButton('save_edit'); validateCreateOrEditInsurance();" id="save_edit" style="margin-left: 190px; width: 80px;" type="submit" class="btn btn-success">
                            Save
                        </button>
                        <button id="cancel" onclick="hidePopup('xmas-popup')" style="margin-left: 80px;width: 80px;" type="button" class="btn btn-danger">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>